
    <link rel="stylesheet" type="text/css"  href="assets/styles/admin.css">

    <div class="admin-container popup">
        <div class="admin-header">
            <div class="close button" ng-click="adminFadeOut()"></div>
            <div class="title">Administration</div>
        </div>

        <div class="clear"></div>

        <div class="admin-body">
            <div class="grid">
                <div class="cell">
                    <div class="cell-image">
                        <img src="assets/images/my_Devices.png" />
                    </div>
                    <div class="cell-details">
                        <div class="cell-title">
                            My Device
                        </div>
                        <div class="cell-contain">
                            Manage your device name, ownership, activation and more.
                        </div>
                        <div class="cell-button">
                            <img src="assets/images/plus.png" class="button" ng-click="indexDevicesFadeIn()"/>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-image">
                        <img src="assets/images/alerts.png" />
                    </div>
                    <div class="cell-details">
                        <div class="cell-title">
                            Alerts
                        </div>
                        <div class="cell-contain">
                            Create new alerts that notify you when things happen.
                        </div>
                        <div class="cell-button">
                            <img src="assets/images/plus.png" class="button" ng-click="indexAlertsFadeIn()"/>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-image">
                        <img src="assets/images/renewals.png" />
                    </div>
                    <div class="cell-details">
                        <div class="cell-title">
                            Renewals
                        </div>
                        <div class="cell-contain">
                            View devices up for renewal and pay online.
                        </div>
                        <div class="cell-button">
                            <img src="assets/images/plus.png" class="button" ng-click="indexRenewalsFadeIn()"/>
                        </div>
                    </div>
                </div>

                <div class="clear"><br/></div>

                <div class="cell">
                    <div class="cell-image">
                        <img src="assets/images/user.png"/>
                    </div>
                    <div class="cell-details">
                        <div class="cell-title">
                            Users
                        </div>
                        <div class="cell-contain">
                            Add, edit, search and delete your account users.
                        </div>
                        <div class="cell-button">
                            <img src="assets/images/plus.png" class="button" ng-click="indexUsersFadeIn()"/>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-image">
                        <img src="assets/images/groups.png" />
                    </div>
                    <div class="cell-details">
                        <div class="cell-title">
                            Groups
                        </div>
                        <div class="cell-contain">
                            Manage your device groups and devices in each group.
                        </div>
                        <div class="cell-button">
                            <img src="assets/images/plus.png" class="button" ng-click="indexGroupsFadeIn()"/>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="cell-image">
                        <img src="assets/images/geofences.png" />
                    </div>
                    <div class="cell-details">
                        <div class="cell-title">
                            Geofences
                        </div>
                        <div class="cell-contain">
                            View and delete your account device based geofences.
                        </div>
                        <div class="cell-button">
                            <img src="assets/images/plus.png" class="button" class="button" ng-click="indexGeofencesFadeIn()"/>
                        </div>
                    </div>
                </div>

                <div class="clear"><br/></div>
            </div>
        </div>
    </div>
