
    <link rel="stylesheet" type="text/css"  href="assets/styles/geofences/create.css">

    <div class="create-geofences-container">
        <div class="geofences-header">
            <div class="close button" ng-click="createGeofencesFadeOut()"></div>
            <div class="title">Add Geofences</div>
        </div>

        <div class="clear"></div>

        <div class="geofences-body">
            <div class="toolbar">
                <div class="float-left">
                    <span class="i-back-geofences-btn button"  ng-click="backIndexGeofencesFadeIn()">Back to Geofences</span>
                </div>
                <div class="search float-right">
                    <span class="i-search float-left button"></span>
                    <input type="text" placeholder="Search" class="float-right"/>
                </div>
            </div>

            <div class="clear"></div>

            <div class="contain">
                <table>
                    <tr>
                        <td rowspan="8" class="map">
                            <div class="map-toolbar">
                                <span class="i-geofence-erase button" ng-click="deleteAllGeofences()"></span>
                            </div>
                            <div id="map-canvas-create-geofence" style="width: 100%; height: 390px"></div>
                        </td>
                        <td class="label">
                            <div class="float-right">{{geofences.savedInstance.devices.length}} Devices</div>
                        </td>
                        <td>
                            <span class="i-add-new-devices button" ng-click="listDevicesFadeIn()">Add Deivces</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="device_name">Device Name</label>
                        </td>
                        <td>
                            <input type="text" name="device_name"  ng-model="geofences.savedInstance.deviceName"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="name">Geofence Name <span class="required"> *</span></label>
                        </td>
                        <td>
                            <input type="text" required name="name" ng-model="geofences.savedInstance.name"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="location">Location</label>
                        </td>
                        <td>
                            <input type="text" name="location" ng-model="geofences.savedInstance.location"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="type">Slot Number</label>
                        </td>
                        <td>
                            <select name="type" ng-model="geofences.savedInstance.type">
                                <option value="0">Next available</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="send_type">Create an Event when</label>
                        </td>
                        <td>
                            <select name="send_type" ng-model="geofences.savedInstance.sendType">
                                <option value="0">Next available</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="send">Send Alerts</label>
                        </td>
                        <td>
                            <input type="checkbox" name="send" value="1" ng-model="geofences.savedInstance.send"> Yes
                            <input type="checkbox" name="send" value="0" ng-model="geofences.savedInstance.send"> No
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="center">
                            <span class="cancel-btn button" ng-click="backIndexGeofencesFadeIn()">Cancel</span>
                            <span class="ok-btn button" ng-click="saveGeofences()">Add Geofence</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
