
    <link rel="stylesheet" type="text/css"  href="assets/styles/geofences/index.css">

    <div class="geofences-container">
        <div class="geofences-header">
            <div class="close button" ng-click="indexGeofencesFadeOut()"></div>
            <div class="title">Geofences</div>
        </div>

        <div class="clear"></div>

        <div class="geofences-body">
            <div class="toolbar">
                <div class="float-left">
                    <span class="i-admin-btn button" ng-click="backAdminFadeIn()">
                        <img src="assets/images/avatars/man.png">
                        Admin
                    </span>
                </div>
                <div class="float-left">
                    <span class="i-add-btn button" ng-click="createGeofencesFadeIn()">Add Geofences</span>
                </div>
                <div class="search float-right">
                    <span class="i-search float-left button"></span>
                    <input type="text" placeholder="Search" class="float-right"/>
                </div>
            </div>

            <div class="clear"></div>

            <div class="contain">
                <table>
                    <thead>
                        <tr>
                            <th class="button"># of Geofences</th>
                            <th class="button" ng-click="sortClick('geofences.deviceName')">Device Name <span ng-bind-html="sort.type" ng-if="sort.field == 'geofences.deviceName'"></span></th>
                            <th class="button" ng-click="sortClick('geofences.serial')">Serial Number <span ng-bind-html="sort.type" ng-if="sort.field == 'geofences.serial'"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="geofenceInstance in geofences.listInstances">
                            <td><a href=""  ng-click="showGeofencesFadeIn(geofenceInstance.id)"><img ng-src="assets/images/{{geofenceInstance.image}}">&nbsp;&nbsp;&nbsp;{{geofenceInstance.id}}</a></td>
                            <td>{{geofenceInstance.deviceName}}</td>
                            <td>{{geofenceInstance.serial}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clear"></div>

        <div class="geofences-footer">
            <span class="i-last-page button" ng-if="page.current < page.total" ng-click="pageClick(page.total)">&#187;</span>
            <span class="i-next-page button"  ng-if="page.current < page.total" ng-click="pageClick(page.current+1)">&rsaquo;</span>
            <span class="i-number-page button" ng-repeat="n in range(page.current + page.max, page.current+1)" ng-click="pageClick(n)">{{n}}</span>
            <span class="i-current-page button">{{page.current}}</span>
            <span class="i-number-page button" ng-repeat="n in range(page.current-1, page.current - page.max)" ng-click="pageClick(n)">{{n}}</span>
            <span class="i-preview-page button" ng-if="page.current > 1" ng-click="pageClick(page.current-1)">&lsaquo;</span>
            <span class="i-first-page button"  ng-if="page.current > 1" ng-click="pageClick(1)">&#171;</span>
        </div>
    </div>
