
    <link rel="stylesheet" type="text/css"  href="assets/styles/geofences/show.css">
    <div class="show-geofences-container">
        <div class="geofences-header">
            <div class="close button" ng-click="showGeofencesFadeOut()"></div>
            <div class="title">Geofences By Device</div>
        </div>

        <div class="clear"></div>

        <div class="geofences-body">
            <div class="contain">
                <div class="contain-left float-left">
                 <div class="device-info">
                   <div class="show-img"> <img src="assets/images/devices/truck_big.png"></div>
                   <div class="name"><label>Device name</label></div>
                 </div>
                  <div class="list-geofence">
                    <table>
                      <tbody>
                        <tr ng-repeat="instance in $parent.geofences.showInstance.list" ng-mouseenter="mouseEnterGeofence(instance.id)" ng-mouseleave="mouseLeaveGeofence(instance.id)">
                          <td>
                            <label>Geofence Name:</label><span class="text">{{instance.name}}</span><br>
                            <label>Address:</label><span class="text">{{instance.address}}</span>
                          </td>
                          <td><span class="i-delete button"></span></td>
                        </tr>
                        <!--<tr ng-mouseenter="mouseEnterGeofence(1)" ng-mouseleave="mouseLeaveGeofence(1)">-->
                          <!--<td>-->
                            <!--<label>Geofence Name:</label><span class="text">TC-1.4</span><br>-->
                            <!--<label>Address:</label><span class="text">2965 N Glassell St, Orange, California, United States, 92865</span>-->
                          <!--</td>-->
                          <!--<td><span class="i-delete button"></span></td>-->
                        <!--</tr>-->
                        <!--<tr ng-mouseenter="mouseEnterGeofence(2)" ng-mouseleave="mouseLeaveGeofence(2)">-->
                          <!--<td>-->
                            <!--<label>Geofence Name:</label><span class="text">MGH_Poly</span><br>-->
                            <!--<label>Address:</label><span class="text">Doral, FL, USA</span>-->
                          <!--</td>-->
                          <!--<td><span class="i-delete button"></span></td>-->
                        <!--</tr>-->
                      </tbody>
                    </table>
                  </div>
                  <div class="group-button">
                      <span class="button"  ng-click="backAdminFadeIn()">Back to Admin</span>
                      <span class="button" ng-click="backIndexGeofencesFadeIn()">Back to List</span>
                  </div>
                </div>
              <div class="contain-right float-left">
                <div class="map">
                  <div id="map-canvas-show-geofence" style="width: 100%; height: 390px"></div>
                </div>
              </div>
            </div>
        </div>
    </div>
