.geofences-container {
    background-image: url("../../images/list_geofences_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 601px;
    height: 329px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}
.geofences-container .geofences-header {
    width: 100%;
    min-height: 30px;
}
.geofences-container .geofences-header .title {
    float: right;
    width: 561px;
    height: 25px;
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    color: #FFF;
}
.geofences-container .geofences-header .close {
    background-image: url("../../images/close.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 0px;
    margin-right: -50px;
}
.geofences-container .geofences-body .toolbar {
    font-size: 14px;
}
.geofences-container .geofences-body .toolbar .search input {
    height: 17px;
}
.geofences-container .geofences-body .toolbar .search{
    margin-top: 20px;
}
.geofences-container .geofences-body .contain table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}
.geofences-container .geofences-body .contain table img {
    width: 53px;
    height: 36px;
}
.geofences-container .geofences-body .contain table td{
    border: 1.5px dashed #F3F3ED ;
    text-align: center;
    padding-bottom: 2px;
    color: #A0A0A0;
}
.geofences-container .geofences-body .contain table td:nth-child(2){
    width: 190px;
}
.geofences-container .geofences-body .contain table td:first-child {
    width: 190px;
}
.geofences-container .geofences-body .contain table td:last-child {
    width: 190px;
}
.geofences-container .geofences-body .contain table thead{
    color:#FFFFFF;
    font-size: 14px;
    line-height: 30px;
}
.geofences-container .geofences-body .contain table thead tr{
    height: 30px;
    display: block;
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background-color: #02194f;
}
.geofences-container .geofences-body .contain table thead th:nth-child(2){
    width: 190px;
}
.geofences-container .geofences-body .contain table thead th:first-child{
    width: 190px;
}
.geofences-container .geofences-body .contain table thead th:last-child{
    width: 190px;
}
.geofences-container .geofences-body .contain table tbody{
    display: block;
    height: 100px;
    overflow-y: auto;
}
.geofences-container .geofences-footer{
    margin-top: 20px;
    height: 30px;
    text-align: center  ;
}
.geofences-container .geofences-body .contain table tbody a:link
{
  text-decoration: none;
}
