<div class="per_items" >

    <span class="cell-item float-left button" ng-class="{ticked:users.instance.permission[0]}" ng-click="choosePermission(0)">
        <input type="checkbox" ng-model="users.instance.permission[0]" class="hidden"
               ng-true-value="1" ng-false-value="0">
        <img src="assets/images/users/locate.png" >
        <span class="cell-item-title">Locate Now</span>
    </span>
    <span class="cell-item float-left button" ng-class="{ticked:users.instance.permission[1]}" ng-click="choosePermission(1)">
        <input type="checkbox" ng-model="users.instance.permission[1]" class="hidden"
               ng-true-value="1" ng-false-value="0">
        <img src="assets/images/users/quick_report.png" >
       <span class="cell-item-title">Quick Report</span>
    </span>
    <div class="clear"></div>
    <span class="cell-item float-left button" ng-class="{ticked:users.instance.permission[2]}" ng-click="choosePermission(2)">
        <input type="checkbox" ng-model="users.instance.permission[2]" class="hidden"
               ng-true-value="1" ng-false-value="0">
        <img src="assets/images/users/streetview.png" >
        <span class="cell-item-title">Street View</span>
    </span>
    <span class="cell-item float-left button" ng-class="{ticked:users.instance.permission[3]}" ng-click="choosePermission(3)">
        <input type="checkbox" ng-model="users.instance.permission[3]" class="hidden"
               ng-true-value="1" ng-false-value="0">
        <img src="assets/images/users/edit.png" >
        <span class="cell-item-title">Edit Device</span>
    </span>
    <div class="clear"></div>
     <span class="cell-item float-left button" ng-class="{ticked:users.instance.permission[4]}" ng-click="choosePermission(4)">
          <input type="checkbox" ng-model="users.instance.permission[4]" class="hidden"
                 ng-true-value="1" ng-false-value="0">
        <img src="assets/images/users/geofences.png" >
        <span class="cell-item-title">Geofencess</span>
    </span>
    <span class="cell-item float-left button" ng-class="{ticked:users.instance.permission[5]}" ng-click="choosePermission(5)">
         <input type="checkbox" ng-model="users.instance.permission[5]" class="hidden"
                ng-true-value="1" ng-false-value="0">
        <img src="assets/images/users/alerts.png" >
       <span class="cell-item-title">Alerts</span>
    </span>
    <div class="clear"></div>
    <span class="cell-item float-left button" ng-class="{ticked:users.instance.permission[6]}" ng-click="choosePermission(6)">
         <input type="checkbox" ng-model="users.instance.permission[6]" class="hidden"
                ng-true-value="1" ng-false-value="0">
        <img src="assets/images/users/disable_starter.png" >
        <span class="cell-item-title linebreak">Enable <br /> Starter</span>
    </span>
    <span class="cell-item float-left button" ng-class="{ticked:users.instance.permission[7]}" ng-click="choosePermission(7)">
         <input type="checkbox" ng-model="users.instance.permission[7]" class="hidden"
                ng-true-value="1" ng-false-value="0">
        <img src="assets/images/users/enable_starter.png" >
        <span class="cell-item-title linebreak">Disable <br /> Starter</span>
    </span>
    <div class="clear"></div>
</div>