
<link rel="stylesheet" type="text/css" href="assets/styles/application.css">
<link rel="stylesheet" type="text/css" href="assets/styles/users/index.css">

<div class="user-container">
    <div class="user-header">
        <div class="close button" ng-click="indexUsersFadeOut()"></div>
        <div class="title">Users</div>
    </div>
    <div class="user-body">
        <div class="contain-menu">
            <div class="float-left">
                <span class="i-admin-btn button" ng-click="backAdminFadeIn()">
                    <img src="assets/images/avatars/man.png">
                    Admin
                </span>
            </div>
            <div class="float-left">
                <span class="i-add-btn button" ng-click="addUsersFadeIn()">
                    Add New User
                </span>
            </div>
            <div class="user_rt_search">
                <input type="text" placeholder="Search" class="float-right"/>
                <img src="assets/images/users/search_icon.png" class="float-right" />
            </div>
        </div>
        <div class="contain-report">
            <table>
                <thead>
                <tr>
                    <th scope="col" class="button" ng-click="sortClick('users.firstName')">First Name<span ng-bind-html="sort.type" ng-if="sort.field == 'users.firstName'"></span></th>
                    <th scope="col" class="button" ng-click="sortClick('users.lastName')">Last Name<span ng-bind-html="sort.type" ng-if="sort.field == 'users.lastName'"></span></th>
                    <th scope="col" class="button" ng-click="sortClick('users.address')">Address<span ng-bind-html="sort.type" ng-if="sort.field == 'users.address'"></span></th>
                    <th scope="col" class="button" ng-click="sortClick('users.contractPhone')">Contract Phone<span ng-bind-html="sort.type" ng-if="sort.field == 'users.contractPhone'"></span></th>
                    <th scope="col"class="button"  ng-click="sortClick('users.email')">Email<span ng-bind-html="sort.type" ng-if="sort.field == 'users.email'"></span></th>
                    <th scope="col" class="button" ng-click="sortClick('users.company')">Company<span ng-bind-html="sort.type" ng-if="sort.field == 'users.company'"></span></th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="instance in users.listInstance">
                    <td>{{instance.firstName}}</td>
                    <td>{{instance.lastName}}</td>
                    <td>{{instance.address}}</td>
                    <td>{{instance.contractPhone}}</td>
                    <td>{{instance.email}}</td>
                    <td>{{instance.company}}</td>
                    <td>
                        <div class="action-delete float-right button" ng-click="deletedUser(instance)"></div>
                        <div class="action-edit float-right button" ng-click="editUsersFadeIn(instance)"></div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="devices-footer">
                <span class="i-last-page button" ng-if="page.current < page.total" ng-click="pageClick(page.total)">&#187;</span>
                <span class="i-next-page button"  ng-if="page.current < page.total" ng-click="pageClick(page.current+1)">&rsaquo;</span>
                <span class="i-number-page button" ng-repeat="n in range(page.current + page.max, page.current+1)" ng-click="pageClick(n)">{{n}}</span>
                <span class="i-current-page button">{{page.current}}</span>
                <span class="i-number-page button" ng-repeat="n in range(page.current-1, page.current - page.max)" ng-click="pageClick(n)">{{n}}</span>
                <span class="i-preview-page button" ng-if="page.current > 1" ng-click="pageClick(page.current-1)">&lsaquo;</span>
                <span class="i-first-page button"  ng-if="page.current > 1" ng-click="pageClick(1)">&#171;</span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
