
    <link rel="stylesheet" type="text/css"  href="assets/styles/alerts/edit.css">

    <div class="edit-alerts-container">
        <div class="alerts-header">
            <div class="close button" ng-click="editAlertsFadeOut()"></div>
            <div class="title">Edit My Alerts</div>
        </div>

        <div class="clear"></div>

        <div class="alerts-body">
            <div class="toolbar">
                <div class="float-left">
                    <span class="i-back-alerts-btn button" ng-click="backIndexAlertsFadeIn()">Back to Alert</span>
                </div>
                <div class="search float-right">
                    <span class="i-search float-left button"></span>
                    <input type="text" placeholder="Search" class="float-right"/>
                </div>
            </div>

            <div class="clear"></div>

            <div class="contain">
                <table>
                    <tr>
                        <td colspan="3">
                            <div class="float-left left">
                                {{alerts.updatedInstance.devices.length}} Devices
                            </div>
                            <div class="right">
                                <span class="i-add-new-devices button" ng-click="listDevicesFadeIn()">Add Deivces</span>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">Alert Name <span class="required">*</span></label>
                        </td>
                        <td>
                            <input type="text" required name="name" ng-model="alerts.updatedInstance.name"/>
                        </td>
                        <td rowspan="5" ng-show="alerts.updatedInstance.type == 1" class="map">
                            <div id="map-canvas-edit-alerts" style="width: 400px; height: 180px"></div>
                        </td>
                    </tr>
                    <div class="clear"></div>
                    <tr>
                        <td>
                            <label for="type">Alert Type</label>
                        </td>
                        <td>
                            <select name="type" ng-model="alerts.updatedInstance.type" ng-options="item.value as item.name for item in selectAlertTypes" ng-change="alertTypesChange()">
                            </select>
                        </td>
                    </tr>
                    <!-- tr for Engine Hours -->
                    <tr ng-if="alerts.updatedInstance.type == 18">
                        <td>
                            <label for="every">Every <span class="required">*</span></label>
                        </td>
                        <td><input type="text" required name="every" ng-model="alerts.updatedInstance.every"/> (Hours)</td>
                    </tr>
                    <!-- tr for Geofence -->
                    <tr ng-if="alerts.updatedInstance.type == 1">
                        <td>
                            <label for="geofence">Geofence</label>
                        </td>
                        <td>
                            <select name="geofence" ng-options="item.id as item.name for item in selectGeofences" ng-model="alerts.updatedInstance.geofence" ng-change="drawGeofenceChange()">
                            </select>
                        </td>
                    </tr>
                    <!-- tr for Geofence -->
                    <tr ng-if="alerts.updatedInstance.type == 1">
                        <td>
                            <label for="geofence">Send an Alert When</label>
                        </td>
                        <td>
                            <select name="sendAlertWhen" ng-options="item.value as item.name for item in selectSendAlertWhen" ng-model="alerts.updatedInstance.sendAlertWhen">
                            </select>
                        </td>
                    </tr>
                    <!-- tr for Geofence -->
                    <tr ng-if="alerts.updatedInstance.type == 1">
                        <td>
                            <label for="slotNumber">Slot Number</label>
                        </td>
                        <td>
                            <select name="slotNumber" ng-model="alerts.updatedInstance.slotNumber">
                            </select>
                        </td>
                    </tr>
                    <!-- tr for Low Battery DB -->
                    <tr ng-if="alerts.updatedInstance.type == 21">
                        <td>
                            <label for="voltage">Voltage <span class="required">*</span></label>
                        </td>
                        <td><input type="text" required name="voltage" ng-model="alerts.updatedInstance.voltage"/></td>
                    </tr>
                    <!-- tr for Speeding -->
                    <tr ng-if="alerts.updatedInstance.type == 20">
                        <td>
                            <label for="speeding">Speeding</label>
                        </td>
                        <td>
                            <input type="text" name="speeding" ng-model="alerts.updatedInstance.speeding"/>
                            <select name="unit" ng-options="item.value as item.name for item in selectUnits" ng-model="alerts.updatedInstance.unit">
                            </select>
                        </td>
                    </tr>
                </table>
                <table>


                    <tr>
                        <td>
                            <label for="send_type">Send Alert to: (Optional)</label>
                        </td>
                        <td colspan="2">
                            <table>
                                <tr ng-repeat="send in alerts.updatedInstance.sends track by $index">
                                    <td>
                                        <select name="sendType" ng-options="item.id as item.name for item in selectSendTypes" ng-model="send.sendType">
                                        </select>
                                    </td>
                                    <td><input type="text" required name="send" ng-model="send.send"/></td>
                                    <td>
                                        <select name="version" ng-options="item.value as item.name for item in selectVersion" ng-model="send.version" ng-if="send.sendType == 1">
                                        </select>
                                    </td>
                                    <td>
                                        <span class="i-delete button" ng-click="delete($index)"></span>
                                    </td>
                                </tr>
                            </table>
                            <span class="i-add-new-anothers button" ng-click="add()">Add Anothers</span>
                        </td>
                    </tr>
                    <!-- tr for Entering Sleep Mode,  Idle, Low Battery DB, Main Power Disconnect, Main Power Reconnect, Message Button, Speeding, Towing DB, Wake On Motion-->
                    <tr ng-if="alerts.updatedInstance.type == 22 || alerts.updatedInstance.type == 24 || alerts.updatedInstance.type == 21 || alerts.updatedInstance.type == 16 || alerts.updatedInstance.type == 17 || alerts.updatedInstance.type == 31 || alerts.updatedInstance.type == 20 || alerts.updatedInstance.type == 23 || alerts.updatedInstance.type == 19">
                        <td colspan="3" class="center">
                           <span class="required">
                               Note: The alert will be applied to devices that trigger this event type.
                           </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="center">
                            <span class="cancel-btn button" ng-click="backIndexAlertsFadeIn()">Cancel</span>
                            <span class="ok-btn button" ng-click="updateAlerts()">Ok</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
