
    <link rel="stylesheet" type="text/css"  href="assets/styles/alerts/index.css">

    <div class="alerts-container">
        <div class="alerts-header">
            <div class="close button" ng-click="indexAlertsFadeOut()"></div>
            <div class="title">Alerts</div>
        </div>

        <div class="clear"></div>

        <div class="alerts-body">
            <div class="toolbar">
                <div class="float-left">
                    <span class="i-admin-btn button" ng-click="backAdminFadeIn()">
                        <img src="assets/images/avatars/man.png">
                        Admin
                    </span>
                </div>
                <div class="float-left">
                    <span class="i-add-btn button" ng-click="createAlertsFadeIn()">Add New Alert</span>
                </div>
                <div class="float-left">
                    <span class="i-delete-btn button">Delete Selected</span>
                </div>
                <div class="search float-right">
                    <span class="i-search float-left button"></span>
                    <input type="text" placeholder="Search" class="float-right"/>
                </div>
            </div>

            <div class="clear"></div>
            <div class="contain">
                <table>
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="ckeck-all" ng-click="checkAllAlertIds()" ng-model="master" ng-true-value="true" ng-false-value="false"/></th>
                            <th class="button" ng-click="sortClick('alerts.name')">Alert Name <span ng-bind-html="sort.type" ng-if="sort.field == 'alerts.name'"></span></th>
                            <th class="button" ng-click="sortClick('alerts.type')">Alert Type <span ng-bind-html="sort.type" ng-if="sort.field == 'alerts.type'"></span></th>
                            <th class="button" ng-click="sortClick('alerts.method')">Alert Method <span ng-bind-html="sort.type" ng-if="sort.field == 'alerts.method'"></span></th>
                            <th class="button" ng-click="sortClick('alerts.createBy')">Create By <span ng-bind-html="sort.type" ng-if="sort.field == 'alerts.createBy'"></span></th>
                            <th class="button" ng-click="sortClick('alerts.device_group')">Device/Group <span ng-bind-html="sort.type" ng-if="sort.field == 'alerts.device_group'"></span></th>
                            <th class="button" ng-click="sortClick('alerts.dateCreated')">Date Created <span ng-bind-html="sort.type" ng-if="sort.field == 'alerts.dateCreated'"></span></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="alertInstance in alerts.listInstances">
                            <td><input type="checkbox" name="alerts" ng-checked="master" value="{{alertInstance.id}}" ng-model="alertIds" ng-change="check(alertInstance.id, alertIds)"/></td>
                            <td>{{alertInstance.name}}</td>
                            <td>{{alertInstance.type}}</td>
                            <td>{{alertInstance.method}}</td>
                            <td>{{alertInstance.createBy}}</td>
                            <td>{{alertInstance.device_group}}</td>
                            <td>{{alertInstance.dateCreated}}</td>
                            <td>
                                <span class="i-edit button" ng-click="editAlertsFadeIn(alertInstance.id)"></span>
                                <span class="i-delete button" ng-click="deleteAlerts(alertInstance.id)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clear"></div>

        <div class="alerts-footer">
            <span class="i-last-page button" ng-if="page.current < page.total" ng-click="pageClick(page.total)">&#187;</span>
            <span class="i-next-page button"  ng-if="page.current < page.total" ng-click="pageClick(page.current+1)">&rsaquo;</span>
            <span class="i-number-page button" ng-repeat="n in range(page.current + page.max, page.current+1)" ng-click="pageClick(n)">{{n}}</span>
            <span class="i-current-page button">{{page.current}}</span>
            <span class="i-number-page button" ng-repeat="n in range(page.current-1, page.current - page.max)" ng-click="pageClick(n)">{{n}}</span>
            <span class="i-preview-page button" ng-if="page.current > 1" ng-click="pageClick(page.current-1)">&lsaquo;</span>
            <span class="i-first-page button"  ng-if="page.current > 1" ng-click="pageClick(1)">&#171;</span>
        </div>
    </div>
