
    <link rel="stylesheet" type="text/css"  href="assets/styles/devices/create.css">

    <div class="create-devices-container">
        <div class="devices-header">
            <div class="close button" ng-click="createDevicesFadeOut()"></div>
            <div class="title">Add New Devices</div>
        </div>

        <div class="clear"></div>

        <div class="devices-body">
            <div class="toolbar">
                <div class="float-left">
                    <span class="i-back-devices-btn button" ng-click="backIndexDevicesFadeIn()">Back to Devices</span>
                </div>
                <div class="search float-right">
                    <span class="i-search float-left button"></span>
                    <input type="text" placeholder="Search" class="float-right"/>
                </div>
            </div>

            <div class="clear"></div>

            <div class="contain">
                <table>
                    <tr>
                        <td colspan="3">
                            <b>Device Infomation</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="serial_number">Serial Number <span class="required">*</span></label>
                        </td>
                        <td>
                            <label for="vin">VIN</label>
                        </td>
                        <td>
                            <label for="group">Group <span class="required">*</span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" required name="serial_number" ng-model="devices.savedInstance.serial"/>
                        </td>
                        <td>
                            <input type="text" name="vin"  ng-model="devices.savedInstance.vin"/>
                        </td>
                        <td>
                            <select name="group"  ng-model="devices.savedInstance.group">
                                <option value="0">Johanis Test</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input type="checkbox" name="accept"/>
                            I accept the Terms & Conditions outlined
                            <span class="required button">here *</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="center">
                            <span class="cancel-btn button" ng-click="backIndexDevicesFadeIn()">Cancel</span>
                            <span class="ok-btn button" ng-click="saveDevices()">Ok</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
