
    <link rel="stylesheet" type="text/css"  href="assets/styles/devices/edit.css">

    <div class="edit-devices-container">
        <div class="devices-header">
            <div class="close button"  ng-click="editDevicesFadeOut()"></div>
            <div class="title">Edit My Devices</div>
        </div>

        <div class="clear"></div>

        <div class="devices-body">
            <div class="toolbar">
                <div class="float-left">
                    <span class="i-back-devices-btn button" ng-click="backIndexDevicesFadeIn()">Back to Devices</span>
                </div>
                <div class="search float-right">
                    <span class="i-search float-left button"></span>
                    <input type="text" placeholder="Search" class="float-right"/>
                </div>
            </div>

            <div class="clear"></div>

            <div class="contain">
                <table>
                    <tr>
                        <td rowspan="2" colspan="2" class="map">
                            <div id="map-canvas-edit-devices" style="width: 100%; height: 140px"></div>
                        </td>
                        <td>
                            <img ng-src="assets/images/devices/{{devices.updatedInstance.image}}" class="device-avatar"/>
                        </td>
                        <td>
                            Serial #: {{devices.updatedInstance.serial}}<br/>
                            Actived: {{devices.updatedInstance.actived}}<br/>
                            Subscription Expries: {{devices.updatedInstance.subscription}}<br/>
                            Last Known Location: {{devices.updatedInstance.location}}<br/>
                            Lat - Long: {{devices.updatedInstance.lat}} - {{devices.updatedInstance.long}}
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            &nbsp;&nbsp;<span class="ok-btn button">Change Avatar</span><label for="type"></label>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            Asteric <span class="required">*</span> indicates a required field
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="name">Device Name <span class="required">*</span></label>
                        </td>
                        <td>
                            <input type="text" required name="name" ng-model="devices.updatedInstance.name"/>
                        </td>
                        <td class="label">
                            <label for="verhical_year">Vehical Year</label>
                        </td>
                        <td>
                            <input type="text" name="verhical_year" ng-model="devices.updatedInstance.verhical_year"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="licence_plate">Licence Plate</label>
                        </td>
                        <td>
                            <input type="text" name="licence_plate" ng-model="devices.updatedInstance.licence_plate"/>
                        </td>
                        <td class="label">
                            <label for="style">Style</label>
                        </td>
                        <td>
                            <input type="text" name="style" ng-model="devices.updatedInstance.style"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="vin">VIN</label>
                        </td>
                        <td>
                            <input type="text" name="vin" ng-model="devices.updatedInstance.vin"/>
                        </td>
                        <td class="label">
                            <label for="transmission">Transmission</label>
                        </td>
                        <td>
                            <input type="text" name="transmission" ng-model="devices.updatedInstance.transmission"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="make">Make</label>
                        </td>
                        <td>
                            <input type="text" name="make" ng-model="devices.updatedInstance.make"/>
                        </td>
                        <td class="label">
                            <label for="color">Color</label>
                        </td>
                        <td>
                            <input type="text" name="color" ng-model="devices.updatedInstance.color"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="model">Model</label>
                        </td>
                        <td>
                            <input type="text" required name="model" ng-model="devices.updatedInstance.model"/>
                        </td>
                        <td class="label">
                            <label for="engine">Engine</label>
                        </td>
                        <td>
                            <input type="text" name="engine" ng-model="devices.updatedInstance.engine"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="timezone">Timezone</label>
                        </td>
                        <td>
                            <select name="timezone" ng-model="devices.updatedInstance.timezone">
                            </select>
                        </td>
                        <td class="label">
                            <label for="daylightSaving">Daylight Saving</label>
                        </td>
                        <td>
                            <input type="checkbox" name="daylightSaving" ng-model="devices.updatedInstance.daylightSaving"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"></td>
                        <td></td>
                        <td class="label">
                            <label for="country">Country</label>
                        </td>
                        <td>
                            <select name="country" ng-model="devices.updatedInstance.country">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="center">
                            <span class="cancel-btn button" ng-click="backIndexDevicesFadeIn()">Cancel</span>
                            <span class="ok-btn button" ng-click="updateDevices(devices.updatedInstance.id)">Ok</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
