
    <link rel="stylesheet" type="text/css"  href="assets/styles/devices/index.css">

    <div class="devices-container">
        <div class="devices-header">
            <div class="close button"  ng-click="indexDevicesFadeOut()"></div>
            <div class="title">My Devices</div>
        </div>

        <div class="clear"></div>

        <div class="devices-body">
            <div class="toolbar">
                <div class="float-left">
                    <span class="i-admin-btn button" ng-click="backAdminFadeIn()">
                        <img src="assets/images/avatars/man.png">
                        Admin
                    </span>
                </div>
                <div class="float-left">
                    <span class="i-add-btn button"  ng-click="createDevicesFadeIn()">Register Device</span>
                </div>
                <div class="search float-right">
                    <span class="i-search float-left button"></span>
                    <input type="text" placeholder="Search" class="float-right"/>
                </div>
            </div>

            <div class="clear"></div>

            <div class="contain">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th class="button" ng-click="sortClick('devices.name')">Device Name <span ng-bind-html="sort.type" ng-if="sort.field == 'devices.name'"></span></th>
                            <th class="button" ng-click="sortClick('devices.serial')">Serial # <span ng-bind-html="sort.type" ng-if="sort.field == 'devices.serial'"></span></th>
                            <th class="button" ng-click="sortClick('devices.messageDateTime')">Message Date/Time <span ng-bind-html="sort.type" ng-if="sort.field == 'devices.messageDateTime'"></span></th>
                            <th class="button" ng-click="sortClick('devices.location')">Location Address <span ng-bind-html="sort.type" ng-if="sort.field == 'devices.location'"></span></th>
                            <th class="button" ng-click="sortClick('devices.messageType')">Message Type <span ng-bind-html="sort.type" ng-if="sort.field == 'devices.messageType'"></span></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="deviceInstance in devices.listInstances">
                            <td><img ng-src="assets/images/{{deviceInstance.image}}"></td>
                            <td>{{deviceInstance.name}}</td>
                            <td>{{deviceInstance.serial}}</td>
                            <td>{{deviceInstance.messageDateTime}}</td>
                            <td>{{deviceInstance.location}}</td>
                            <td>{{deviceInstance.messageType}}</td>
                            <td>
                                <span class="i-edit button" ng-click="editDevicesFadeIn('{{deviceInstance.id}}')"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clear"></div>

        <div class="devices-footer">
            <span class="i-last-page button" ng-if="page.current < page.total" ng-click="pageClick(page.total)">&#187;</span>
            <span class="i-next-page button"  ng-if="page.current < page.total" ng-click="pageClick(page.current+1)">&rsaquo;</span>
            <span class="i-number-page button" ng-repeat="n in range(page.current + page.max, page.current+1)" ng-click="pageClick(n)">{{n}}</span>
            <span class="i-current-page button">{{page.current}}</span>
            <span class="i-number-page button" ng-repeat="n in range(page.current-1, page.current - page.max)" ng-click="pageClick(n)">{{n}}</span>
            <span class="i-preview-page button" ng-if="page.current > 1" ng-click="pageClick(page.current-1)">&lsaquo;</span>
            <span class="i-first-page button"  ng-if="page.current > 1" ng-click="pageClick(1)">&#171;</span>
        </div>
    </div>
