body{
	margin:0;
	font-family:Verdana;
}
.map-top{
	width:100%;
	height:123px;
	background-image: url("../images/patterntop.jpg");
    background-repeat:repeat-x;
}
.map-logo{
	width:435px;
	height:123px;
	background-image: url("../images/logo.png");
    background-repeat: no-repeat;
	margin-left:15px;
	float:left;
}
.map-menu{
	height:123px;
	float:right;
	padding-right:40px;
	background-image: url("../images/patterntop.jpg");
	background-repeat:repeat-x;
}
.map-menu > div{
	width:100px;
	height:119px;
	background-repeat: no-repeat;
	float:right;
	background-position: center;
	color:white;
	text-align:center;
	font-size:12px;
	cursor:pointer;
}
.map-menu-button-admin{
	background-image: url("../images/admin_button.png");
}
.map-menu-button-admin:hover{
	background-image: url("../images/admin_button_hover.png");
}
.map-menu-button-help{
	background-image: url("../images/help_button.png");
}
.map-menu-button-help:hover{
	background-image: url("../images/help_button_hover.png");
}
.map-menu-button-logout{
	background-image: url("../images/logout_button.png");
}
.map-menu-button-logout:hover{
	background-image: url("../images/logout_button_hover.png");
}
.map-menu-button-livechat{
	background-image: url("../images/livechat_button.png");
}
.map-menu-button-livechat:hover{
	background-image: url("../images/livechat_hover.png");
}
.map-menu span{
	line-height: 220px;
}
.map-footer{
	position:fixed;
	left:0;
	bottom:0;
	height:30px;
	width:100%;
	background-image:url("../images/patternbottom.jpg");
	background-repeat:repeat-x;
	text-align:center;
	color:white;
	font-size:13px;
}
.map-footer img{
	padding-top:3px;
	vertical-align:middle;
}
.map-footer span{
	top: 3px;
    position: relative;
}
.map-main-content{
	width:100%;
  top:123px;
}

.map-bubble {
	width: 527px;
	height: 349px;
	position:relative;
	top:0;
	left: 0;
	background-image: url("../images/bubble/device_info.png");
	background-repeat: no-repeat;
}
.map-bubble-name{
	top: 16px;
	width: 100%;
	text-align: center;
	color: white;
	line-height: 50px;
}
.map-bubble-close {
	position: absolute;
	width: 32px;
	height: 30px;
	background-image: url("../images/generals/X.png");
	background-repeat: no-repeat;
	top:0px;
	right: 0px;
  cursor: pointer;
}
.map-bubble-content {
	width: 490px;
	height: 265px;
	margin: auto;
}
.map-bubble-content-left{
	float: left;
	width: 368px;
	height: 265px;
}
.map-bubble-content-right{
	float: left;
	width: 122px;
	height: 265px;
}

.map-bubble-content-right div{
	width:122px;
	height: 42px;
	background-repeat: no-repeat;
	margin-bottom: 2px;
	color: #1b3619;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}
.map-bubble-content-right div:hover{
	color: white;
}
.map-bubble-content-right span {
	padding-left: 40px;
	line-height: 40px;
}
.map-bubble-content-right > :first-child{
	margin-top: 15px;
}
.map-bubble-quick-report{
	background-image: url("../images/bubble/quick_report.png");
}
.map-bubble-quick-report:hover{
	background-image: url("../images/bubble/quick_report_hover.png");
}
.map-bubble-street-view{
	background-image: url("../images/bubble/street_view.png");
}
.map-bubble-street-view:hover{
	background-image: url("../images/bubble/street_view_hover.png");
}
.map-bubble-edit-device{
	background-image: url("../images/bubble/edit.png");
}
.map-bubble-edit-device:hover{
	background-image: url("../images/bubble/edit_hover.png");
}
.map-bubble-geofence{
	background-image: url("../images/bubble/geofences.png");
}
.map-bubble-geofence:hover{
	background-image: url("../images/bubble/geofences_hover.png");
}
.map-bubble-alert{
	background-image: url("../images/bubble/alerts.png");
}
.map-bubble-alert:hover{
	background-image: url("../images/bubble/alerts_hover.png");
}
.map-bubble-content-left-first{
	width: 100%;
	height: 135px;
}
.map-bubble-content-left-avatar{
	float: left;
	width: 268px;
	text-align: center;
}
.map-bubble-content-left-battery{
	float: left;
	width: 68px;
	color: white;
	font-size: 11px;
	text-align: center;
}
.map-bubble-content-left-avatar img {
	border-radius: 10px;
	border: 5px solid #E9E9E9;
  width: 120px;
  height: 80px;
}
.map-bubble-content-left-second {
	width: 100%;
	height: 130px;
}
.map-bubble-content-special-menu {
	float: left;
	width: 168px;
	height: 130px;
}

.map-bubble-content-special-locate {
	position: absolute;
	top:140px;
	left: 25px;
	width: 99px;
	height: 119px;
	background-image: url("../images/bubble/locate.png");
	background-repeat: no-repeat;
	cursor: pointer;
}
.map-bubble-content-special-locate:hover {
	background-image: url("../images/bubble/locate_hover.png");
}
.map-bubble-content-special-locate span{
	text-transform: uppercase;
	color: white;
	position: relative;
	top: 45px;
	left: 20px;
	font-weight: bold;
}

.map-bubble-content-special-start {
	position:absolute;
	top:200px;
	left: 110px;
	width: 79px;
	height: 85px;
	background-image: url("../images/bubble/start.png");
	background-repeat: no-repeat;
	cursor: pointer;
}
.map-bubble-content-special-start:hover{
	background-image: url("../images/bubble/start_hover.png");
}
.map-bubble-content-special-stop {
	position:absolute;
	top:240px;
	left: 40px;
	width: 79px;
	height: 85px;
	background-image: url("../images/bubble/stop.png");
	background-repeat: no-repeat;
	cursor: pointer;
}
.map-bubble-content-special-stop:hover{
	background-image: url("../images/bubble/stop_hover.png");
}
.map-bubble-content-information{
	float: left;
	width: 168px;
	height: 130px;
	padding-left: 5px;
}

.map-bubble-content-information span{
	font-size: 12px;
	display:block;
	color: white;
	line-height: 18px;
}

.spider-popup {
	width: 319px;
	height: 200px;
	background-image: url("../images/bubble/device.png");
	background-repeat: no-repeat;
	position:relative;
	padding-top: 10px;
}
.spider-popup ul {
	overflow-y: scroll;
	height: 150px;
	width: 265px;
}
.spider-popup li{
	list-style-type: none;
	color: white;
	font-size: 12px;
	height: 40px;
	border-bottom: dotted white 1px;
	padding-top: 5px;
	width: 245px;
}
.spider-popup img{
	vertical-align:middle;
}
.spider-popup-close {
	position: absolute;
	width: 32px;
	height: 30px;
	background-image: url("../images/generals/X.png");
	background-repeat: no-repeat;
	top:0px;
	right: 0px;
}
.spiderPopupMarker{
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0px auto;
  position: relative;
}

.popup {
  width: 100%;
  margin: 0px 0 0 -50%;
  left: 50%;
}
#quick-report{
  display: none;
  float: left;
  background: url("../images/generals/quick-report-background.jpg") repeat-y;
}
#map-canvas-index {
  float: left;
}
.quick-report-title {
  color: white;
  width: 100%;
  background: url("../images/generals/quick-report-title-background.png") repeat-x;
  height: 49px;
  text-align: center;
}
.quick-report-title div{
  font-size: 18px;
  line-height: 3;
  background: url("../images/generals/quick-report-title-background2.png") no-repeat center;
  height: 49px;
}
.quick-report-contain {
  width: 100%;
  background-color: #CCCCCC;
}

.quick-report-contain-header{
  width: 100%;
  padding-top: 10px;
}
.quick-report-time{
  width: 50%;
  float: left;
}
.quick-report-export{
  width: 50%;
  float: left;
  text-align: right;
}
.quick-report-time-selection {
  margin-left: 30px;
  border: 2px solid #F3F3ED;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  height: 34px;
  font-size: 13px;
  padding: 5px;
  color: #A0A0A0;
  width: 175px;
}

.tabs-menu {
  height: 15px;
  float: left;
  clear: both;
  list-style-type: none;
  padding-left: 10px;
}

.tabs-menu li {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-right: 2px;
  border-radius: 4px 4px 0px 0px;
  background-color: #181c5b;
  border-top: 1px solid #d4d4d1;
  border-right: 1px solid #d4d4d1;
  border-left: 1px solid #d4d4d1;
}

.tabs-menu li.current {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  z-index: 5;
}

.tabs-menu li a {
  padding: 5px;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}

.tabs-menu .current a {
  color: #2e7da3;
}

.tab {
  border: 1px solid #d4d4d1;
  background-color: #fff;
  float: left;
  margin-bottom: 20px;
  width: 97%;
  margin-left: 10px;
  border-radius: 0px 0px 4px 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tab-content {
  width: 98%;
  padding: 10px;
  display: none;
}

#tab-1 {
  display: block;
}
.tab-content table {
  width: 100%;
  font-size: 12px;
}
.tab-content table td{
  border: 1.5px dashed #F3F3ED ;
  text-align: center;
  padding-bottom: 2px;
  color: #A0A0A0;
}
.tab-content table th{
  color:#FFFFFF;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  background-color: #02194f;
  min-width: 100px;
}
