<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="../../assets/styles/login/forgot_password.css">
</head>
<body>
    <div id="css3-slides-viewer" class="css3-slides-viewer">
        <div class="forgot-password-container">
            <div class="forgot-password-header">
                <div class="logo">
                    <img src="../../assets/images/logo/logo.png">
                </div>
            </div>
            <div class="forgot-password-title">
                <span>LOGIN TO YOUR ACCOUNT</span>
            </div>
            <div class="forgot-password-description">
                <div class="bold-red">Forgot your password?</div>
                <div>Please enter your username and e-mail below and we will send your password to the email in our record</div>
            </div>
            <div class="forgot-password-body">
                <div class="forgot-password-form">
                    <form method="post" action="">
                        <div class="form-username">
                            <img src="../../assets/images/login/icon_user.png" class="float-left" />
                            <input type="text" placeholder="User Name" class="float-left"/>
                        </div>
                        <div class="clear"></div>
                        <div class="form-password">
                            <img src="../../assets/images/login/email.png"class="float-left" />
                            <input type="text" placeholder="Email" class="float-left"/>
                        </div>
                        <div class="clear"></div>

                        <div class="clear"></div>
                        <div class="form-submit">
                            <input type="button" value="Send">
                            <input type="button" value="Cancel">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>