<link rel="stylesheet" type="text/css" href="../../assets/styles/login/register_new_account.css">
<div class="register-new-account-container">
    <div class="register-new-account-header">
        <div class="close button" ></div>
        <div class="title">Register your device</div>
    </div>
    <div class="register-new-account-body">
        <div class="contain-report">
            <!--<div ng-include="'../../views/login/form_action.html'"></div>-->
            <div class="form-option">
                <label class="button"><input type="radio"  name="actionAccount" ng-model="$parent.actionAccount"  value="new_account" ng-change="changeRegisterTypeAccount($parent.actionAccount)">New account</label>
                <label class="button"> <input type="radio"  name="actionAccount" ng-model="$parent.actionAccount"  value="existing_account" ng-change="changeRegisterTypeAccount($parent.actionAccount)" >Existing account</label><br />
            </div>
            <div class="form-data">
                <table>
                    <tbody>
                    <tr><td colspan="4" class="bold-red">Contact information</td></tr>
                    <tr>
                        <td>First Name<span class="red">*</span></td>
                        <td><input type="text" name="firstName" required  /></td>
                        <td>Last Name<span class="red">*</span></td>
                        <td><input type="text" name="lastName" required /></td>
                    </tr>
                    <tr>
                        <td>Phone<span class="red">*</span></td>
                        <td>
                            <input type="text" class="input-sort" name="contractPhone" required />
                            <select name="contractPhoneSelect"  class="select-sort">
                                <option>sms</option>
                                <option>sms1</option>
                            </select>
                        </td>
                        <td>Date of Birth<span class="red">*</span></td>
                        <td><input type="text" name="dateOfBirth" required  /></td>
                    </tr>
                    <tr>
                        <td>Email<span class="red">*</span></td>
                        <td><input type="text" name="email" required /></td>
                        <td>Confirm Email<span class="red">*</span></td>
                        <td><input type="text" name="email" required /></td>
                    </tr>
                    <tr>
                        <td>Time Zone<span class="red">*</span></td>
                        <td>
                            <select>
                                <option> (UTC+0700) Bangkok, HaNoi,Jakarta</option>
                                <option> (UTC+0700) Bangkok, HaNoi,Jakarta</option>
                            </select>
                        </td>
                        <td><label class="button" for="daylight_saving">Daylight Saving<span class="red">*</span></label></td>
                        <td><label><input class="button" id="daylight_saving" type="checkbox"  required /></label></td>
                    </tr>
                    <tr>
                        <td>Address line 1<span class="red">*</span></td>
                        <td ><input type="text"  name="streetAddress" required /></td>
                        <td>Country<span class="red">*</span></td>
                        <td>
                            <select required ></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Address line 2<span class="red">*</span></td>
                        <td ><input type="text"  name="streetAddress"  required /></td>
                        <td>City<span class="red">*</span></td>
                        <td><input type="text" ng-model="users.instance.city" required name="city" /></td>

                    </tr>
                    <tr>
                        <td>State/Province/Region<span class="red">*</span></td>
                        <td>
                            <select required ></select>
                        </td>
                        <td>Zip Code<span class="red">*</span></td>
                        <td><input type="text" name="zipCode" required /></td>
                    </tr>
                    <tr><td colspan="4" class="bold-red">Account information</td></tr>
                    <tr>
                        <td>Username<span class="red">*</span></td>
                        <td><input type="text" name="userName" /></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr><td colspan="4" class="bold-red">Device information</td></tr>
                    <tr>
                        <td>Serial Number<span class="red">*</span></td>
                        <td><input type="text" name="userName" /></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>VIN</td>
                        <td><input  type="text" name="password"   /></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><label class="button"><input  type="checkbox" name="password" ng-model="users.instance.password" required />I accept the Terms & Conditions outlined <a class="blue-italic">here</a></a><span class="red">*</span></label></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr><td colspan="4"><div id="recaptcha_new_account"></div></td></tr>
                    <tr>
                        <td colspan="4" class="div-button">
                            <input type="button" value="Cancel" class="save-button  button" />
                            <input type="button" value="Next" class="cancel-button  button" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
