
<link rel="stylesheet" type="text/css" href="../../assets/styles/login/register_exist_account.css">

<div class="register-exist-account-container">
        <div class="register-exist-account-header">
            <div class="close button" ></div>
            <div class="title">Register your device</div>
        </div>
    <div class="register-exist-account-body">
        <div class="contain-report">
            <!--<div ng-include="'../../views/login/form_action.html'"></div>-->
            <div class="form-option">
                <label class="button" ><input type="radio"  name="actionExistAccount" ng-model="$parent.actionAccount"  value="new_account" ng-change="changeRegisterTypeAccount($parent.actionAccount)" >New account</label>
                <label  class="button"  ><input type="radio"  name="actionExistAccount" ng-model="$parent.actionAccount"  value="existing_account" ng-change="changeRegisterTypeAccount($parent.actionAccount)" > Existing account</label><br />
            </div>
            <div class="form-data">
                <table>
                    <tbody>
                        <tr><td colspan="2" class="bold-red">Account information</td></tr>
                        <tr>
                            <td>Username<span class="red">*</span></td>
                            <td><input type="text" name="userName" /></td>
                        </tr>
                        <tr>
                            <td>Password<span class="red">*</span></td>
                            <td><input type="password" name="confirmPassword"  required /></td>
                        </tr>
                        <tr>
                            <td colspan="2" >
                                <input class="button" id="show_password" type="checkbox" ng-model="showpassword" />
                                <label class="button" for="show_password">Show password<span class="red">*</span></label></td>
                        </tr>
                        <tr><td colspan="2" class="bold-red">Device information</td></tr>
                        <tr>
                            <td>Serial Number<span class="red">*</span></td>
                            <td><input type="text" name="userName" /></td>
                        </tr>
                        <tr>
                            <td>VIN</td>
                            <td><input  type="text" name="password"  /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label class="button"><input  type="checkbox" name="password" ng-model="users.instance.password" required />I accept the Terms & Conditions outlined <a class="blue-italic">here</a></a><span class="red">*</span></label></td>
                        </tr>
                        <tr><td colspan="2"><div id="recaptcha_exist_account"></div></td></tr>
                        <tr>
                            <td colspan="2" class="div-button">
                                <input type="button" value="Cancel" class="save-button  button" />
                                <input type="button" value="Next" class="cancel-button  button" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    <div class="clear"></div>
</div>
