<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/login/login.css">
</head>
<body>
    <div id="css3-slides-viewer" class="css3-slides-viewer">
        <div class="login-container">
            <div class="login-header">
                <div class="logo">
                    <img src="../../assets/images/logo/logo.png">
                </div>
            </div>
            <div class="login-title">
                <span>LOGIN TO YOUR ACCOUNT</span>
            </div>
            <div class="login-body">
                <div class="login-form">
                    <form method="post" action="">
                        <div class="form-username">
                            <img src="../../assets/images/login/icon_user.png" class="float-left" />
                            <input type="text" placeholder="Username" class="float-left"/>
                        </div>
                        <div class="clear"></div>
                        <div class="form-password">
                            <img src="../../assets/images/login/icon_password.png"class="float-left" />
                            <input type="password" placeholder="Password" class="float-left"/>
                        </div>
                        <div class="clear"></div>
                        <div class="form-logo-country">
                            <img src="../../assets/images/generals/eng.png" class="button">
                            <img src="../../assets/images/generals/brasil.png" class="button">
                            <img src="../../assets/images/generals/ita.png" class="button">
                            <img src="../../assets/images/generals/espa.png" class="button">
                        </div>
                        <div class="clear"></div>
                        <div class="form-remember">
                            <label class="button"><input type="checkbox" > Remember me</label>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="">
                        </div>
                    </form>
                </div>
                <div class="tool-bar">
                    <a href="forgot_password.html">Forgot password?</a>
                    <a href="register_account.html">Register your device</a>
                </div>

            </div>
        </div>
        <div class="slides-option">
            <ul>
                <li class="float-left">
                    <input type="radio" name="css3-slides-viewer-slides" onclick="change_background(this)" id="slides-01" value="../../assets/images/login/1.jpg" checked/>
                    <label for="slides-01"><!-- / --></label>
                </li>
                <li class="float-left">
                    <input type="radio" name="css3-slides-viewer-slides" value="../../assets/images/login/2.jpg" id="slides-02" onclick="change_background(this)"/>
                    <label for="slides-02"><!-- / --></label>
                </li>
                <li class="float-left">
                    <input type="radio" name="css3-slides-viewer-slides" value="../../assets/images/login/3.jpg" id="slides-03" onclick="change_background(this)"/>
                    <label for="slides-03"><!-- / --></label>
                </li>
                <li class="float-left">
                    <input type="radio" name="css3-slides-viewer-slides" value="../../assets/images/login/4.jpg" id="slides-04" onclick="change_background(this)"/>
                    <label for="slides-04"><!-- / --></label>
                </li>
                <li class="float-left">
                    <input type="radio" name="css3-slides-viewer-slides" value="../../assets/images/login/1.jpg" id="slides-05" onclick="change_background(this)"/>
                    <label for="slides-05"><!-- / --></label>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function change_background(elmnt) {
            document.getElementById("css3-slides-viewer").style.backgroundImage = "url('"+elmnt.value+"')";
        }
    </script>
</body>
</html>
