
<link rel="stylesheet" type="text/css" href="assets/styles/renewals/renewal_summary.css">

<div class="renewal-summary-container">
    <div class="renewal-summary-header">
        <div class="close button" ng-click="renewalsSummaryFadeOut()"></div>
        <div class="title">Renewal Summary</div>
    </div>
    <div class="renewal-summary-body">
        <div class="contain-menu">
            <div class="ren_admin">
                <div class="left float-left button" ng-click="backIndexRenewalsFadeIn()">
                    Back to Renewals
                </div>
            </div>
            <div class="ren_des">
                Please review your device renewals, enter your <br />
                payment information, and click confirm.
            </div>
            <div class="ren_rt_search">
                <input type="text" placeholder="Search" class="float-right"/>
                <img src="assets/images/renewals/search_icon.png" class="float-right" />
            </div>
        </div>
        <div class="contain-report">
            <table >
                <thead>
                <tr>
                    <th scope="col" class="button" ng-click="sortClick('renewal_summary.name')">Name<span ng-bind-html="sort.type" ng-if="sort.field == 'renewal_summary.name'"></span></th>
                    <th scope="col" class="button" ng-click="sortClick('renewal_summary.serial_number')">Serial Number<span ng-bind-html="sort.type" ng-if="sort.field == 'renewal_summary.serial_number'"></span></th>
                    <th scope="col" class="button" ng-click="sortClick('renewal_summary.date_activated')">Date activated<span ng-bind-html="sort.type" ng-if="sort.field == 'renewal_summary.date_activated'"></span></th>
                    <th scope="col" class="button" ng-click="sortClick('renewal_summary.last_renewal')">Last Renewal<span ng-bind-html="sort.type" ng-if="sort.field == 'renewal_summary.last_renewal'"></span></th>
                    <th scope="col" class="button" ng-click="sortClick('renewal_summary.renewal_period')">Renewal period<span ng-bind-html="sort.type" ng-if="sort.field == 'renewal_summary.renewal_period'"></span></th>
                    <th scope="col" class="button" ng-click="sortClick('renewal_summary.amount')">Amount<span ng-bind-html="sort.type" ng-if="sort.field == 'renewal_summary.amount'"></span></th>
                </tr>
                </thead>
                <tbody >
                <tr ng-repeat="instance in renewals.listSummaryInstance">
                    <td>{{instance.name}}</td>
                    <td>{{instance.serial_number}}</td>
                    <td>{{instance.date_activated}}</td>
                    <td>{{instance.last_renewal}}</td>
                    <td>{{instance.renewal_period}}</td>
                    <td >{{instance.amount | currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="total-amount">
            <div class="total-value float-right"><span class="red"></span> {{getTotal() | currency}}</div>
            <div class="total-title float-right">Total Amount Due:&nbsp;&nbsp; </div>

        </div>
        <div class="credit-card">
            <table>
                <thead><th colspan="4">Credit card information</th></thead>
                <tbody>
                <tr>
                    <td>Card Holder Name:<span class="red">*</span></td>
                    <td><input type="text"  ng-model="summaryCreditCardInformation.cardHolderName" required/></td>
                    <td>City:<span class="red">*</span></td>
                    <td><input type="text"  ng-model="summaryCreditCardInformation.city"/></td>
                </tr>
                <tr>
                    <td>Credit card Number:<span class="red">*</span></td>
                    <td><input type="text" ng-model="summaryCreditCardInformation.creditCardNumber" required  /></td>
                    <td>Country:<span class="red">*</span></td>
                    <td>
                        <select required class="select-sort" ng-options="item.id as item.name for item in selectCountrys" ng-model="summaryCreditCardInformation.country"></select>
                    </td>
                </tr>
                <tr>
                    <td><img class="logo-card" src="assets/images/renewals/cards.png"  /></td>
                    <td>&nbsp; </td>
                    <td>State:<span class="red">*</span></td>
                    <td>
                        <select required class="select-sort" ng-options="item.id as item.name for item in selectStates" ng-model="summaryCreditCardInformation.state"></select>
                    </td>
                </tr>
                <tr>
                    <td>Expire Date:<span class="red">*</span></td>
                    <td><input type="date" ng-model="summaryCreditCardInformation.expireDate" required /></td>
                    <td>Zip Code:<span class="red">*</span></td>
                    <td><input type="text" ng-model="summaryCreditCardInformation.zipCode"  required/></td>
                </tr>
                <tr>
                    <td>CVV Number:<span class="red">*</span></td>
                    <td><input type="text" ng-model="summaryCreditCardInformation.cvvNumber" required/></td>
                    <td>Email:<span class="red">*</span></td>
                    <td><input type="text" ng-model="summaryCreditCardInformation.email" required/></td>
                </tr>
                <tr>
                    <td>Address:<span class="red">*</span></td>
                    <td><input type="text" ng-model="summaryCreditCardInformation.address"  required/></td>
                    <td>&nbsp; </td>
                    <td>
                        <input type="button" value="Conrfirm" class="conrfirm-button float-right button" ng-click="confirm()"/>
                        <input type="button" value="Go Back" class="back-button float-right button" ng-click="backIndexRenewalsFadeIn()"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clear"></div>
</div>
