body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.clear {
    clear: both;
}
.button:hover {
    cursor: pointer;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.red{
    color: red;
}
.css3-slides-viewer{
    background-image: url("../../images/login/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
    overflow-x: hidden;

    background-position: center center;
}
.css3-slides-viewer .login-container{
    background-image: url("../../images/generals/whitearea.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 0 60px 0;
    width: 399px;
    margin-left: auto;
    margin-right: auto;
    height: 508px;
}
.css3-slides-viewer .login-container .login-header .logo img{
    width: 341px;
    height: 100px;
    padding-top: 25px;
    padding-left: 30px;
}
.css3-slides-viewer .login-container .login-title {
    background-image: url("../../images/generals/title.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 375px;
    height: 55px;
    margin-left: 13px;
    position: relative;
}
.css3-slides-viewer .login-container .login-title span{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
   position: absolute;
    top: 15px;
    left: 55px;
}

.css3-slides-viewer .login-container .login-body .login-form{
    padding-bottom: 20px;
}
.css3-slides-viewer .login-container .login-body .login-form .form-username,
.css3-slides-viewer .login-container .login-body .login-form .form-password
{
    font-size: 18px;
    padding-top: 20px;
    margin-left: 30px;
}
.css3-slides-viewer .login-container .login-body .login-form .form-logo-country,
.css3-slides-viewer .login-container .login-body .login-form .form-remember
{
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
}
.css3-slides-viewer .login-container .login-body .login-form .form-logo-country img{
    width: 40px;
    height: 25px;
}
.css3-slides-viewer .login-container .login-body .login-form .form-submit
{
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
}
.css3-slides-viewer .login-container .login-body .login-form .form-username input,
.css3-slides-viewer .login-container .login-body .login-form .form-password input{
    width: 300px;
    height: 15px;
    font-size: 18px;
    color: #A0A0A0;
    padding: 5px;
}

.css3-slides-viewer .login-container .login-body .login-form .form-submit input
{
    background: url("../../images/login/sign_in.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 29px;
    width: 133px;
    border: none;
}
.css3-slides-viewer .login-container .login-body .login-form .form-submit input:hover
{
    background: url("../../images/login/sign_in_hover.png") no-repeat scroll 0 0 transparent;
}

.css3-slides-viewer .login-container .login-body .tool-bar{
    text-align: center;
}
.css3-slides-viewer .login-container .login-body .tool-bar a{
    color: red;
    font-size: 15px;
    padding-right: 10px;
}
.css3-slides-viewer .login-container .login-body .tool-bar a:link {
    text-decoration: none;
}
.css3-slides-viewer .login-container .login-body .tool-bar a:hover {
    text-decoration: none;
}


.css3-slides-viewer .slides-option ul{
    display: inline-block;
}
.css3-slides-viewer .slides-option ul, ol, li
{
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
}
.css3-slides-viewer .slides-option{
    text-align: center;
    width: 100%;
}
.css3-slides-viewer .slides-option ul li input
{
    height: 20px;
    width: 20px;
}

