body{
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.button:hover {
    cursor: pointer;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.red{
    color: red;
}

.register-exist-account-container {
    background-image: url("../../images/login/whitearea_register_exist_account.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 0 60px 0;
    width: 535px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 430px;
}

/*header*/
.register-exist-account-container .register-exist-account-header {
    background-image: url("../../images/login/title_login.png") ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 35px;
    padding-top: 6px;
    position: relative;
}
.register-exist-account-container .register-exist-account-header .title {
    padding-top: 4px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
}
.register-exist-account-container .register-exist-account-header .close {
    background-image: url("../../images/users/close.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -5px;
    top: -5px;
}
/*end header*/

/*contain-report*/
.register-exist-account-container .register-exist-account-body .contain-report{
    padding-left: 70px;
    font-size: 14px;
}
.register-exist-account-container .register-exist-account-body .contain-report .form-option{
    padding-bottom: 10px;
    padding-top: 50px;
}
.register-exist-account-container .register-exist-account-body .contain-report .form-data{
    width: 100%;
    /*color: #A0A0A0;*/
}

.register-exist-account-container .register-exist-account-body .contain-report .form-data table{
    min-width: 420px;
}
.register-exist-account-container .register-exist-account-body .contain-report .form-data .bold-red{
    color: red;
    font-weight: bold;
    font-size: 15px;
}
.register-exist-account-container .register-exist-account-body .contain-report .form-data table tbody input[type=text],input[type=password]{
    width: 250px;
    height: 13px;
    padding: 3px;
}

.register-exist-account-container .register-exist-account-body .contain-report .form-data table tbody .div-button{
    text-align: center;
}
.register-exist-account-container .register-exist-account-body .contain-report .form-data table tbody .div-button input
{
    background: url("../../images/login/button.png") no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 28px;
    width: 80px;
    border: none;
}
.register-exist-account-container .register-exist-account-body .contain-report .form-data table tbody .div-button input:first-child{
    margin-right: 10px;
}
.register-exist-account-container .register-exist-account-body .contain-report .form-data table tbody .div-button input:hover
{
    background: url("../../images/login/button_hover.png") no-repeat scroll 0 0 transparent;
    background-size: 100% 100%;
}
.register-exist-account-container .register-exist-account-body .contain-report .form-data table tbody .blue-italic{
    color: cyan;
    font-style: italic;
}
/*end contain-report*/




