body{
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.button:hover {
    cursor: pointer;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.renewal-history-container {
    background-image: url("../../images/renewals/renewal_history_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 0 60px 0;
    width: 1132px;
    margin-left: auto;
    margin-right: auto;
    height: 474px;
}

/*header*/
.renewal-history-container .renewal-history-header {
    width: 100%;
    position: relative;
}
.renewal-history-container .renewal-history-header .title {
    padding-top: 27px;
    text-align: center;
    font-size: 25px;
    color: #FFF;
}
.renewal-history-container .renewal-history-header .close {
    background-image: url("../../images/renewals/close.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 5px;
}
/*end header*/

/*menu */
.renewal-history-body .contain-menu{
    padding-left: 30px;
    font-size: 14px;
}
.renewal-history-body .contain-menu .ren_admin{
    margin-top: -20px;
    float: left;
    width: 35%;
}
.renewal-history-body .contain-menu .i-non-admin-btn{
    background-image: url("../../images/renewals/back_to_renewal.png");
    background-repeat: no-repeat;
    width: 121px;
    height: 77px;
    display: inline-block;
    padding-left: 70px;
    line-height: 77px;
    color: #FFF;
}
.renewal-history-body .contain-menu .i-non-admin-btn:hover {
    background-image: url("../../images/renewals/back_to_renewal_hover.png");
    background-repeat: no-repeat;
}

.renewal-history-body .contain-menu .ren_rt_search{
    float: right;
    width: 30%;
    padding-right: 5%;
    padding-top: 40px;
}
.renewal-history-body .contain-menu .ren_rt_search input{
    height: 14px;
    padding: 5px;
    color: #A0A0A0;
    width: 100px;
}
.renewal-history-body .contain-menu .ren_rt_search img{
    height: 28px;
}

/*end menu*/

/*filter*/
.renewal-history-container .renewal-history-body .contain-filter{
    margin-bottom: 10px;
    padding-left: 50px;
    font-size: 14px;
}
.renewal-history-container .renewal-history-body .contain-filter input {
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width:200px;
    height:18px;
    padding: 5px;
    color: #A0A0A0;
}
.renewal-history-container .renewal-history-body .contain-filter select {
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width:210px;
    height:30px;
    padding: 5px;
    color: #A0A0A0;
}

.renewal-history-container .renewal-history-body .contain-filter select.select-sort {
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width:110px;
    height:30px;
    padding: 5px;
    color: #A0A0A0;
}
.renewal-history-container .renewal-history-body .contain-filter .search-button{
    background-image: url("../../images/renewals/search.png");
    background-repeat: no-repeat;
    width: 65px;
    height: 30px;
    color: #fff;
}
/*end filter*/


/*contain-report*/
.renewal-history-container .renewal-history-body .contain-report{
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;

}
.renewal-history-container .renewal-history-body .contain-report table{
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}
.renewal-history-container .renewal-history-body .contain-report table thead{
    color:#FFFFFF;
    line-height: 15px;
}
.renewal-history-container .renewal-history-body .contain-report table tbody{
    display: block;
    height: 225px;
    overflow-y: auto;
}
.renewal-history-container .renewal-history-body .contain-report table td{
    border: 1.5px dashed #F3F3ED ;
    text-align: center;
    padding-bottom: 5px;
    color: #A0A0A0;
    width: 11%;
}
.renewal-history-container .renewal-history-body .contain-report table thead tr{
    height: 30px;
    display: block;
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background-color: #02194f;

}
.renewal-history-container .renewal-history-body .contain-report table thead th{
    width: 11%;
}
.renewal-history-container .renewal-history-body .contain-report table tbody select{
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 60%;
    height:25px;
    color: #A0A0A0;
}
/*end contain-report*/





