body{
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.padding-left-10 {
    padding-left: 10px;
}
.button:hover {
    cursor: pointer;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.renewal-container {
    background-image: url("../../images/renewals/renewal_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 0 60px 0;
    /*background-image:  url(../../images/t-header.jpg), url(../../images/t-footer.jpg),url(../../images/t-body.jpg);*/
    /*background-position: top center, bottom center, center center;*/
    /*background-repeat: no-repeat,no-repeat, repeat-y;*/
    /*margin-top: 25px;*/
/*
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;*/

    width: 1132px;
    margin-left: auto;
    margin-right: auto;
    height: 474px;
}

/*header*/
.renewal-container .renewal-header {
    width: 100%;
    height: 80px;
    position: relative;
}
.renewal-container .renewal-header .title {
    padding-top: 27px;
    text-align: center;
    font-size: 25px;
    color: #FFF;
}
.renewal-container .renewal-header .close {
    background-image: url("../../images/renewals/close.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 5px;
}
/*end header*/

/*menu */
.renewal-body .contain-menu{
    padding-left: 15px;
    font-size: 14px;
}
.renewal-body .contain-menu .ren_admin{
    margin-top: -20px;
    float: left;
    width: 35%;
    font-size: 14px;
}
.renewal-container .renewal-body .contain-menu .ren_admin .right{
    background-image: url("../../images/renewals/renewal_history.png");
    background-repeat: no-repeat;
    width: 172px;
    height: 71px;
    line-height: 75px;
    padding-left: 16px;
    margin-top: 4px;
    color: #fff;
}
.renewal-body .contain-menu .ren_des{
    float: left;
    width: 30%;
    text-align: center;
    font-weight: bold;
}
.renewal-body .contain-menu .ren_rt_search{
    float: right;
    width: 30%;
    padding-right: 5%;
    height: 71px;
}
.renewal-body .contain-menu .ren_rt_search input{
    height: 14px;
    padding: 5px;
    color: #A0A0A0;
    width: 120px;
}
.renewal-body .contain-menu .ren_rt_search img{
    height: 28px;
}

.renewal-container .renewal-body .contain-menu .ren_admin .right:hover {
    background-image: url("../../images/renewals/renewal_history_hover.png");
}

/*end menu*/

/*filter*/
.renewal-container .renewal-body .contain-filter{
    margin-bottom: 10px;
    padding-left: 50px;
    font-size: 14px;
}
.renewal-container .renewal-body .contain-filter input {
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width:200px;
    height:20px;
    padding: 5px;
    color: #A0A0A0;
}
.renewal-container .renewal-body .contain-filter select {
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width:210px;
    height:34px;
    padding: 5px;
    color: #A0A0A0;
}
/*end filter*/


/*contain-report*/
.renewal-container .renewal-body .contain-report{
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;

}
.renewal-container .renewal-body .contain-report table{
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}
.renewal-container .renewal-body .contain-report table thead{
    color:#FFFFFF;
    line-height: 30px;
}
.renewal-container .renewal-body .contain-report table tbody{
    display: block;
    max-height: 225px;
    overflow-y: auto;
}
.renewal-container .renewal-body .contain-report table td{
    border: 1.5px dashed #F3F3ED ;
    text-align: center;
    padding-bottom: 5px;
    color: #A0A0A0;
    width: 140px;
}
.renewal-container .renewal-body .contain-report table thead tr{
    height: 30px;
    display: block;
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background-color: #02194f;

}
.renewal-container .renewal-body .contain-report table thead th{
    width: 140px;
}
.renewal-container .renewal-body .contain-report table tbody select{
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 60%;
    height:25px;
    color: #A0A0A0;
}
/*end renew-pay*/


/*end contain-report*/
.renewal-container .renewal-body .renewal-renew-pay{
    background-image: url("../../images/renewals/renew_and_pay.png");
    background-repeat: no-repeat;
    margin-right: 48px;
    width: 108px;
    height: 26px;
    line-height: 26px;
    padding-left: 30px;
    color: #fff;
    font-size: 14px;
}
/*end renew-pay*/


