<!DOCTYPE html>
<html lang="en" ng-app="protekgps">
<head>
    <meta charset="UTF-8">
    <title>ProtekGPS</title>
	<link rel="stylesheet" type="text/css"  href="assets/styles/application.css">
  <link rel="stylesheet" type="text/css"  href="assets/styles/map.css">
</head>
<body ng-controller="MainController">
   <div class="map-top absolute">
	 <div class="map-logo"></div>
	 <div class="map-menu" ng-controller="MenuController">
		<div class="map-menu-button map-menu-button-livechat"><span>Live Chat</span></div>
		<div class="map-menu-button map-menu-button-logout"><span>Log Out</span></div>
		<div class="map-menu-button map-menu-button-help"><span>Help</span></div>
		<div class="map-menu-button map-menu-button-admin" ng-click="adminFadeIn()"><span>Admin</span></div>
	 </div>
   </div>
   <div class="map-main-content absolute">
     <div id="map-canvas-index"></div>
     <div id="quick-report">
       <div class="quick-report-title"><div>Quick Report</div></div>
       <div class="quick-report-contain">
         <div class="quick-report-contain-header">
           <div class="quick-report-time">
             <select name="quick-report-time-selection" class="quick-report-time-selection">
               <option value="30">This month</option>
               <option value="90">Last 90 days</option>
             </select>
           </div>
           <div class="quick-report-export">
             <img src="assets/images/bubble/escell_icon.png" />
             <img src="assets/images/bubble/pdf_icon.png" />
             <img src="assets/images/bubble/print_icon.png" style="margin-right: 20px" />
           </div>
         </div>
         <div class="quick-report-contain-tab">
           <div id="tabs-container">
             <ul class="tabs-menu">
               <li class="current"><a href="#tab-1" ng-click="changeQuickReport(this)">Vehicle History</a></li>
               <li><a href="#tab-2" ng-click="changeQuickReport(this)">Alert History</a></li>
               <li><a href="#tab-3" ng-click="changeQuickReport(this)">Command History</a></li>
               <li><a href="#tab-4" ng-click="changeQuickReport(this)">Duration Report</a></li>
               <li><a href="#tab-5" ng-click="changeQuickReport(this)">Vehicle Mileage</a></li>
               <li><a href="#tab-6" ng-click="changeQuickReport(this)">Engine Hours</a></li>
             </ul>
             <div class="tab">
               <div id="tab-1" class="tab-content">
                 <table>
                   <tr>
                     <th ng-click="sortClick('vehicleHistory.time')">Time <span ng-bind-html="sort.type" ng-if="sort.field == 'vehicleHistory.time'"></span></th>
                     <th ng-click="sortClick('vehicleHistory.speed')">Speed <span ng-bind-html="sort.type" ng-if="sort.field == 'vehicleHistory.speed'"></span></th>
                     <th ng-click="sortClick('vehicleHistory.heading')">Heading <span ng-bind-html="sort.type" ng-if="sort.field == 'vehicleHistory.heading'"></span></th>
                     <th ng-click="sortClick('vehicleHistory.location')">Location <span ng-bind-html="sort.type" ng-if="sort.field == 'vehicleHistory.location'"></span></th>
                     <th ng-click="sortClick('vehicleHistory.description')">Description <span ng-bind-html="sort.type" ng-if="sort.field == 'vehicleHistory.description'"></span></th>
                   </tr>
                   <tr ng-repeat="vehicleHistory in quickReport.VehicleHistory">
                     <td>{{vehicleHistory.time}}</td>
                     <td>{{vehicleHistory.speed}}</td>
                     <td>{{vehicleHistory.heading}}</td>
                     <td>{{vehicleHistory.location}}</td>
                     <td>{{vehicleHistory.description}}</td>
                   </tr>
                 </table>
               </div>
               <div id="tab-2" class="tab-content">
                 <table>
                   <thead>
                   <tr>
                     <th class="button" ng-click="sortClick('alertHistory.eventname')">Event Name <span ng-bind-html="sort.type" ng-if="sort.field == 'alertHistory.eventname'"></span></th>
                     <th class="button" ng-click="sortClick('alertHistory.speed')">Speed <span ng-bind-html="sort.type" ng-if="sort.field == 'alertHistory.speed'"></span></th>
                     <th class="button" ng-click="sortClick('alertHistory.location')">Location <span ng-bind-html="sort.type" ng-if="sort.field == 'alertHistory.location'"></span></th>
                     <th class="button" ng-click="sortClick('alertHistory.reporttime')">Report Time <span ng-bind-html="sort.type" ng-if="sort.field == 'alertHistory.reporttime'"></span></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr ng-repeat="alertHistory in quickReport.AlertHistory">
                     <td>{{alertHistory.eventname}}</td>
                     <td>{{alertHistory.speed}}</td>
                     <td>{{alertHistory.location}}</td>
                     <td>{{alertHistory.reporttime}}</td>
                   </tr>
                   </tbody>
                 </table>
               </div>
               <div id="tab-3" class="tab-content">
                 <table>
                   <thead>
                   <tr>
                     <th class="button" ng-click="sortClick('commandHistory.status')">Status <span ng-bind-html="sort.type" ng-if="sort.field == 'commandHistory.status'"></span></th>
                     <th class="button" ng-click="sortClick('commandHistory.commandname')">Command Name <span ng-bind-html="sort.type" ng-if="sort.field == 'commandHistory.commandname'"></span></th>
                     <th class="button" ng-click="sortClick('commandHistory.timesent')">Time Sent <span ng-bind-html="sort.type" ng-if="sort.field == 'commandHistory.timesent'"></span></th>
                     <th class="button" ng-click="sortClick('commandHistory.location')">Location <span ng-bind-html="sort.type" ng-if="sort.field == 'commandHistory.location'"></span></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr ng-repeat="commandHistory in quickReport.CommandHistory">
                     <td>{{commandHistory.status}}</td>
                     <td>{{commandHistory.commandname}}</td>
                     <td>{{commandHistory.timesent}}</td>
                     <td>{{commandHistory.location}}</td>
                   </tr>
                   </tbody>
                 </table>
               </div>
               <div id="tab-4" class="tab-content">
                 <table>
                   <thead>
                   <tr>
                     <th class="button" ng-click="sortClick('durationReport.vehicle')">Vehicle <span ng-bind-html="sort.type" ng-if="sort.field == 'durationReport.vehicle'"></span></th>
                     <th class="button" ng-click="sortClick('durationReport.serialnumber')">Serial Number<span ng-bind-html="sort.type" ng-if="sort.field == 'durationReport.serialnumber'"></span></th>
                     <th class="button" ng-click="sortClick('durationReport.duration')">Duration<span ng-bind-html="sort.type" ng-if="sort.field == 'durationReport.duration'"></span></th>
                     <th class="button" ng-click="sortClick('durationReport.location')">Location <span ng-bind-html="sort.type" ng-if="sort.field == 'durationReport.location'"></span></th>
                     <th class="button" ng-click="sortClick('durationReport.lat')">Lat <span ng-bind-html="sort.type" ng-if="sort.field == 'durationReport.lat'"></span></th>
                     <th class="button" ng-click="sortClick('durationReport.long')">Long <span ng-bind-html="sort.type" ng-if="sort.field == 'durationReport.long'"></span></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr ng-repeat="durationReport in quickReport.DurationReport">
                     <td>{{durationReport.vehicle}}</td>
                     <td>{{durationReport.serialnumber}}</td>
                     <td>{{durationReport.duration}}</td>
                     <td>{{durationReport.location}}</td>
                     <td>{{durationReport.lat}}</td>
                     <td>{{durationReport.long}}</td>
                   </tr>
                   </tbody>
                 </table>
               </div>
               <div id="tab-5" class="tab-content">
                 <table>
                   <thead>
                   <tr>
                     <th class="button" ng-click="sortClick('vehicleMileage.vehicle')">Vehicle <span ng-bind-html="sort.type" ng-if="sort.field == 'vehicleMileage.vehicle'"></span></th>
                     <th class="button" ng-click="sortClick('vehicleMileage.serialnumber')">Serial Number<span ng-bind-html="sort.type" ng-if="sort.field == 'vehicleMileage.serialnumber'"></span></th>
                     <th class="button" ng-click="sortClick('vehicleMileage.from')">From<span ng-bind-html="sort.type" ng-if="sort.field == 'vehicleMileage.from'"></span></th>
                     <th class="button" ng-click="sortClick('vehicleMileage.to')">To <span ng-bind-html="sort.type" ng-if="sort.field == 'vehicleMileage.to'"></span></th>
                     <th class="button" ng-click="sortClick('vehicleMileage.mileage')">Mileage<span ng-bind-html="sort.type" ng-if="sort.field == 'vehicleMileage.mileage'"></span></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr ng-repeat="vehicleMileage in quickReport.VehicleMileage">
                     <td>{{vehicleMileage.vehicle}}</td>
                     <td>{{vehicleMileage.serialnumber}}</td>
                     <td>{{vehicleMileage.from}}</td>
                     <td>{{vehicleMileage.to}}</td>
                     <td>{{vehicleMileage.mileage}}</td>
                   </tr>
                   </tbody>
                 </table>
               </div>
               <div id="tab-6" class="tab-content">
                 <table>
                   <thead>
                   <tr>
                     <th class="button" ng-click="sortClick('engineHours.vehicle')">Vehicle <span ng-bind-html="sort.type" ng-if="sort.field == 'engineHours.vehicle'"></span></th>
                     <th class="button" ng-click="sortClick('engineHours.serialnumber')">Serial Number<span ng-bind-html="sort.type" ng-if="sort.field == 'engineHours.serialnumber'"></span></th>
                     <th class="button" ng-click="sortClick('engineHours.from')">From<span ng-bind-html="sort.type" ng-if="sort.field == 'engineHours.from'"></span></th>
                     <th class="button" ng-click="sortClick('engineHours.to')">To <span ng-bind-html="sort.type" ng-if="sort.field == 'engineHours.to'"></span></th>
                     <th class="button" ng-click="sortClick('engineHours.totaltime')">Total Time in Transit <span ng-bind-html="sort.type" ng-if="sort.field == 'engineHours.totaltime'"></span></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr ng-repeat="engineHours in quickReport.EngineHours">
                     <td>{{engineHours.vehicle}}</td>
                     <td>{{engineHours.serialnumber}}</td>
                     <td>{{engineHours.from}}</td>
                     <td>{{engineHours.to}}</td>
                     <td>{{engineHours.totaltime}}</td>
                   </tr>
                   </tbody>
                 </table>
               </div>
             </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="map-bubble hidden">
       <div class="map-bubble-name">{{bubbles.name}}</div>
       <div class="map-bubble-close" ng-click="closeDevicePopup();"></div>
       <div class="map-bubble-content">
         <div class="map-bubble-content-left">
           <div class="map-bubble-content-left-first">
             <div class="map-bubble-content-left-avatar">
               <img ng-src="{{bubbles.avatar}}" onerror="this.src = 'assets/images/devices/truck_big.png'">
             </div>
             <div class="map-bubble-content-left-battery">
               <img src="assets/images/bubble/batery_icon.png">
               <span>{{bubbles.batteryLevel}} {{bubbles.unit}}</span>
             </div>
           </div>
           <div class="map-bubble-content-left-second">
             <div class="map-bubble-content-special-menu">
               <div class="map-bubble-content-special-locate"><span>Locate</span></div>
               <div class="map-bubble-content-special-start"></div>
               <div class="map-bubble-content-special-stop"></div>
             </div>
             <div class="map-bubble-content-information">
               <span>{{bubbles.serialnumber}}</span>
               <span>Locate {{bubbles.displayLastReported}}</span>
               <span>{{bubbles.location}}</span>
               <span>LAT, LONG: {{bubbles.lat}}, {{bubbles.lng}}</span>
               <span>{{bubbles.speed}} {{bubble.direction}}</span>
             </div>
           </div>
         </div>
         <div class="map-bubble-content-right">
           <div class="map-bubble-quick-report" ng-click="showQuickReport('{{bubbles.id}}')"><span>Quick Report</span></div>
           <div class="map-bubble-street-view"><span>Street View</span></div>
           <div class="map-bubble-edit-device"><span>Edit Device</span></div>
           <div class="map-bubble-geofence"><span>Geofence</span></div>
           <div class="map-bubble-alert"><span>Alert</span></div>
         </div>
       </div>
     </div>
     <div class="spider-popup-template hidden">
       <div class="spider-popup-close" ng-click="closeOms()"></div>
       <ul>
         <li ng-repeat="marker in spiderPopupData.listInstance" class="spiderPopupMarker">
           <img src="assets/images/devices/truck_big.png" width="35" height="35" ng-click="detailsOms('{{marker.id}}')">
           <span ng-click="detailsOms('{{marker.id}}')">{{marker.text}}</span>
         </li>
       </ul>
     </div>
   </div>
   </div>
   <div class="container">
     <!-- Div for Admin popup -->
     <div class="hidden popup" id="admin-popup" ng-controller="AdminController">
       <div ng-include="'views/admin.html'" ></div>
     </div>
     <!-- Div for Index Device popup -->
     <div class="hidden popup" id="index-devices-popup" ng-controller="IndexDevicesController">
       <div ng-include="'views/devices/index.html'" ></div>
     </div>
     <!-- Div for Create Device popup -->
     <div class="hidden popup" id="create-devices-popup" ng-controller="CreateDevicesController">
       <div ng-include="'views/devices/create.html'" ></div>
     </div>
     <!-- Div for Edit Device popup -->
     <div class="hidden popup" id="edit-devices-popup" ng-controller="EditDevicesController">
       <div ng-include="'views/devices/edit.html'" ></div>
     </div>
     <!-- Div for Index Alerts popup -->
     <div class="hidden popup" id="index-alerts-popup" ng-controller="IndexAlertsController">
       <div ng-include="'views/alerts/index.html'" ></div>
     </div>
     <!-- Div for Create Alerts popup -->
     <div class="hidden popup" id="create-alerts-popup" ng-controller="CreateAlertsController">
       <div ng-include="'views/alerts/create.html'" ></div>
     </div>
     <!-- Div for Edit Alerts popup -->
     <div class="hidden popup" id="edit-alerts-popup" ng-controller="EditAlertsController">
       <div ng-include="'views/alerts/edit.html'" ></div>
     </div>
     <!-- Div for Index Renewal popup -->
     <div class="hidden popup" id="renewal-popup" ng-controller="RenewalController">
       <div ng-include="'views/renewals/index.html'" ></div>
     </div>
     <!-- Div for Renewal History popup -->
     <div class="hidden popup" id="renewal-history-popup" ng-controller="RenewalHistoryController">
       <div ng-include="'views/renewals/renewal_history.html'" ></div>
     </div>
     <!-- Div for Renewal Summary popup -->
     <div class="hidden popup" id="renewal-summary-popup" ng-controller="RenewalSummaryController">
       <div ng-include="'views/renewals/renewal_summary.html'" ></div>
     </div>
     <!-- Div for Index User popup -->
     <div class="hidden popup" id="users-popup" ng-controller="UsersController">
       <div ng-include="'views/users/index.html'" ></div>
     </div>
     <!-- Div for Edit User popup -->
     <div class="hidden popup" id="edit-users-popup" ng-controller="EditUsersController">
       <div ng-include="'views/users/edit.html'" ></div>
     </div>
     <!-- Div for Add User popup -->
     <div class="hidden popup" id="add-users-popup" ng-controller="AddUsersController">
       <div ng-include="'views/users/add.html'" ></div>
     </div>
     <!-- Div for Index groups popup -->
     <div class="hidden popup" id="groups-popup" ng-controller="GroupsController">
       <div ng-include="'views/groups/index.html'" ></div>
     </div>
     <!-- Div for Edit groups popup -->
     <div class="hidden popup" id="edit-groups-popup" ng-controller="EditGroupsController">
       <div ng-include="'views/groups/edit.html'" ></div>
     </div>
     <!-- Div for Edit groups popup -->
     <div class="hidden popup" id="add-groups-popup" ng-controller="AddGroupsController">
       <div ng-include="'views/groups/add.html'" ></div>
     </div>
     <!-- Div for test groups popup -->
     <div class="hidden popup" id="test-groups-popup" ng-controller="TestGroupsController">
       <div ng-include="'views/groups/group_test.html'" ></div>
     </div>
     <!-- Div for Index Device popup -->
     <div class="hidden popup" id="index-geofences-popup" ng-controller="IndexGeofencesController">
       <div ng-include="'views/geofences/index.html'" ></div>
     </div>
     <!-- Div for Create Device popup -->
     <div class="hidden popup" id="create-geofences-popup" ng-controller="CreateGeofencesController">
       <div ng-include="'views/geofences/create.html'" ></div>
     </div>
     <!-- Div for Show Device popup -->
     <div class="hidden popup" id="show-geofences-popup" ng-controller="ShowGeofencesController">
       <div ng-include="'views/geofences/show.html'" ></div>
     </div>
     <!-- Div for List selected Devices popup -->
     <div class="hidden hidden-level2 popup" id="list-devices-popup" ng-controller="CreateGeofencesController">
       <div ng-include="'views/share/devices.html'" ></div>
     </div>
   </div>
   <!-- End popup -->
   <div class="map-footer">
		<img src="assets/images/phone_icon.png" />
		<span>1-866-503-2884</span>
		<img src="assets/images/support_icon.png" />
		<span>support@skypatrol.com</span>
   </div>
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB5fIK3FvkeF6ckGA5EiRycILmLHsM_zyY&sensor=false&libraries=drawing"></script>
   <script type="text/javascript" src="assets/js/lib/jquery-1.11.3.min.js"></script>
   <script type="text/javascript" src="assets/js/lib/angular.min.js"></script>
   <script type="text/javascript" src="assets/js/lib/oms.min.js"></script>
   <script type="text/javascript" src="assets/js/lib/SubOverlay.js"></script>
   <script type="text/javascript" src="controllers/index.js"></script>
   <script type="text/javascript" src="controllers/admin.js"></script>
   <script type="text/javascript" src="controllers/menu.js"></script>
   <script type="text/javascript" src="controllers/devices/index.js"></script>
   <script type="text/javascript" src="controllers/devices/create.js"></script>
   <script type="text/javascript" src="controllers/devices/edit.js"></script>
   <script type="text/javascript" src="controllers/alerts/index.js"></script>
   <script type="text/javascript" src="controllers/alerts/create.js"></script>
   <script type="text/javascript" src="controllers/alerts/edit.js"></script>
   <script type="text/javascript" src="controllers/geofences/index.js"></script>
   <script type="text/javascript" src="controllers/geofences/create.js"></script>
   <script type="text/javascript" src="controllers/geofences/show.js"></script>
   <script type="text/javascript" src="controllers/users/index.js"></script>
   <script type="text/javascript" src="controllers/users/edit.js"></script>
   <script type="text/javascript" src="controllers/users/add.js"></script>
   <script type="text/javascript" src="controllers/groups/index.js"></script>
   <script type="text/javascript" src="controllers/groups/add.js"></script>
   <script type="text/javascript" src="controllers/groups/edit.js"></script>
   <script type="text/javascript" src="controllers/groups/show.js"></script>
   <script type="text/javascript" src="controllers/renewals/renewal.js"></script>
   <script type="text/javascript" src="controllers/renewals/renewal_history.js"></script>
   <script type="text/javascript" src="controllers/renewals/renewal_summary.js"></script>
   <script type="text/javascript" src="assets/js/lib/maplabel-compiled.js"></script>

</body>
</html>
