body{
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.button:hover {
    cursor: pointer;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.red{
    color: red;
}
.add-group-container{
    background-image: url("../../images/groups/addnew_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 0 60px 0;
    width: 869px;
    margin-left: auto;
    margin-right: auto;
    height: 259px;
}

/*header*/
.add-group-container .add-group-header {
    width: 100%;
    height: 73px;
    position: relative;
}
.add-group-container .add-group-header .title {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    color: #FFF;
}
.add-group-container .add-group-header .close {
    background-image: url("../../images/groups/close.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 1px;
    top: 5px;
}
/*end header*/

/*menu */
.add-group-body .contain-menu{
    padding-left: 35px;
    font-size: 13px;
}
.add-group-body .contain-menu .i-non-admin-btn{
    background-image: url("../../images/groups/back_to_groups.png");
    background-repeat: no-repeat;
    width: 110px;
    height: 77px;
    display: inline-block;
    padding-left: 80px;
    line-height: 85px;
    color: #FFF;
}
.add-group-body .contain-menu .i-non-admin-btn:hover {
    background-image: url("../../images/groups/back_to_groups_hover.png");
    background-repeat: no-repeat;
}


.add-group-body .contain-menu .add_group_rt_search{
    padding-right: 50px;
    height: 55px;
    margin-top: 30px;
}
.add-group-body .contain-menu .add_group_rt_search input{
    height: 14px;
    padding: 5px;
    color: #A0A0A0;
    width: 110px;
}
.add-group-body .contain-menu .add_group_rt_search img{
    height: 28px;
}

/*end menu*/



/*contain-report*/
.add-group-container .add-group-body .contain-report{
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 13px;
    color: #A0A0A0;
}
.add-group-container .add-group-body .contain-report .info{
    line-height: 30px;
}
.add-group-container .add-group-body .contain-report .info input{
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width:165px;
    height:13px;
    padding: 5px;
    color: #A0A0A0;
}
.add-group-container .add-group-body .contain-report .action{
    text-align: center;
    line-height: 26px;
    padding-right: 310px;
    padding-top: 20px;
}
.add-group-container .add-group-body .contain-report .action .cancel-button{
    background-image: url("../../images/groups/cancel.png");
    background-repeat: no-repeat;
    width: 71px;
    height: 26px;
    color: #FFFFFF;

}
.add-group-container .add-group-body .contain-report .action .save-button{
    background-image: url("../../images/groups/save.png");
    background-repeat: no-repeat;
    width: 71px;
    height: 26px;
    color: #FFFFFF;
}
.padding10 {
 padding-right: 10px;
}

/*end contain-report*/




