body{
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.button:hover {
    cursor: pointer;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.red{
    color: red;
}
.group-container{
    background-image: url("../../images/groups/groups_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 0 60px 0;
    width: 678px;
    margin-left: auto;
    margin-right: auto;
    height: 298px;
}

/*header*/
.group-container .group-header {
    width: 100%;
    height: 73px;
    position: relative;
}
.group-container .group-header .title {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    color: #FFF;
}
.group-container .group-header .close {
    background-image: url("../../images/groups/close.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 1px;
    top: 5px;
}
/*end header*/

/*menu */
.group-body .contain-menu{
    padding-left: 35px;
    font-size: 14px;
}
.group-body .contain-menu .group_rt_search{
    padding-right: 50px;
    height: 55px;
    margin-top: 30px;
}
.group-body .contain-menu .group_rt_search input{
    height: 14px;
    padding: 5px;
    color: #A0A0A0;
    width: 110px;
}
.group-body .contain-menu .group_rt_search img{
    height: 28px;
}

/*end menu*/



/*contain-report*/
.group-container .group-body .contain-report{
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 13px;
}
.group-container .group-body .contain-report table{
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}
.group-container .group-body .contain-report table thead{
    color:#FFFFFF;
    line-height: 30px;
    text-align: center;
}
.group-container .group-body .contain-report table tbody{
    display: block;
    height: 105px;
    overflow-y: auto;
}

.group-container .group-body .contain-report table td{
    border: 1.5px dashed #F3F3ED ;
    text-align: center;
    padding-bottom: 5px;
    color: #A0A0A0;
}
.group-container .group-body .contain-report table td:nth-child(1){
    width: 100px;
}
.group-container .group-body .contain-report table td:nth-child(2){
    text-align: left;
    padding-left: 5px;
    width: 300px;

}
.group-container .group-body .contain-report table td:nth-child(3){
    width: 178px;

}
.group-container .group-body .contain-report table td:nth-child(1) img{
    width: 51px;
    height: 48px;
}
.group-container .group-body .contain-report table thead tr{
    height: 30px;
    display: block;
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background-color: #02194f;

}
.group-container .group-body .contain-report table thead th{
    width: 192.66px;
}
.group-container .group-body .contain-report table a:link{
    text-decoration: none;
}
.group-container .group-body .contain-report table a:hover{
    text-decoration: none;
}
/*end contain-report*/




