body{
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.button:hover {
    cursor: pointer;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.red{
    color: red;
}
.test-group-container{
    background-image: url("../../images/groups/group_name_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 0 60px 0;
    width: 678px;
    margin-left: auto;
    margin-right: auto;
    height: 478px;
}

/*header*/
.test-group-container .test-group-header {
    width: 100%;
    height: 73px;
    position: relative;
}
.test-group-container .test-group-header .title {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    color: #FFF;
}
.test-group-container .test-group-header .close {
    background-image: url("../../images/groups/close.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 1px;
    top: 5px;
}
/*end header*/

/*menu */
.test-group-body .contain-menu{
    padding-left: 35px;
    font-size: 13px;
}
.test-group-body .contain-menu .i-non-admin-btn{
    background-image: url("../../images/groups/back_to_groups.png");
    background-repeat: no-repeat;
    width: 110px;
    height: 77px;
    display: inline-block;
    padding-left: 80px;
    line-height: 85px;
    color: #FFF;
}
.test-group-body .contain-menu .i-non-admin-btn:hover {
    background-image: url("../../images/groups/back_to_groups_hover.png");
    background-repeat: no-repeat;
}


.test-group-body .contain-menu .test_group_rt_search{
    padding-right: 50px;
    height: 55px;
    margin-top: 30px;
}
.test-group-body .contain-menu .test_group_rt_search input{
    height: 14px;
    padding: 5px;
    color: #A0A0A0;
    width: 110px;
}
.test-group-body .contain-menu .test_group_rt_search img{
    height: 28px;
}

/*end menu*/



/*contain-report*/
.test-group-container .test-group-body .contain-report{
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 13px;

}
.test-group-container .test-group-body .contain-report table{
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;

}
.test-group-container .test-group-body .contain-report table thead{
    color:#FFFFFF;
    line-height: 30px;
    text-align: center;
}
.test-group-container .test-group-body .contain-report table tbody{
    display: block;
    height: 292px;
    overflow-y: auto;
}

.test-group-container .test-group-body .contain-report table td{
    border: 1.5px dashed #F3F3ED ;
    text-align: center;
    padding-bottom: 5px;
    color: #A0A0A0;
}
.test-group-container .test-group-body .contain-report table td:nth-child(1){
    width: 200px;
}
.test-group-container .test-group-body .contain-report table td:nth-child(2){
    text-align: left;
    padding-left: 5px;
    width: 100px;
}
.test-group-container .test-group-body .contain-report table td:nth-child(3){
    width: 200px;
}
.test-group-container .test-group-body .contain-report table td:nth-child(4){
    width: 78px;
}
.test-group-container .test-group-body .contain-report table td:nth-child(1) img{
    width: 51px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
}
.test-group-container .test-group-body .contain-report table thead tr{
    height: 30px;
    display: block;
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background-color: #02194f;

}
.test-group-container .test-group-body .contain-report table thead th:nth-child(1){
    width: 200px;
}
.test-group-container .test-group-body .contain-report table thead th:nth-child(2){
    width:77px;
}
.test-group-container .test-group-body .contain-report table thead th:nth-child(3){
    width: 200px;
}
.test-group-container .test-group-body .contain-report table thead th:nth-child(4){
    width: 100px;
}

/*end contain-report*/




