.create-alerts-container {
    background-image: url("../../images/add_new_alert_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 751px;
    height: 500px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}
.create-alerts-container .alerts-header {
    width: 100%;
    min-height: 50px;
}
.create-alerts-container .alerts-header .title {
    float: right;
    width: 731px;
    height: 40px;
    margin-top: 35px;
    text-align: center;
    font-size: 25px;
    color: #FFF;
}
.create-alerts-container .alerts-header .close {
    background-image: url("../../images/close.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: -30px;
}
.create-alerts-container .alerts-body .toolbar {
    font-size: 14px;
}
.create-alerts-container .alerts-body .toolbar .search input {
    height: 17px;
}
.create-alerts-container .alerts-body .contain {
    display: block;
    height: 450px;
    width: 750px;
    overflow-y: auto;
    overflow-x: hidden;
}
.create-alerts-container .alerts-body .contain > table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin-left: 20px;
}
.create-alerts-container .alerts-body .contain table .map {
    min-width: 400px;
}
.create-alerts-container .alerts-body .contain table .map-toolbar {
    width: 400px;
    text-align: center;
    z-index: 10;
    position: absolute;
}
.create-alerts-container .alerts-body .contain > table  table {
    width: 90%;
    margin-right: 10px;
}
.create-alerts-container .alerts-body .contain table .left {
    line-height: 26px;
}
.create-alerts-container .alerts-body .contain table .cancel-btn {
    background-image: url("../../images/cancel_button_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    width: 100px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    color: #FFF;
    display: inline-block;
}
.create-alerts-container .alerts-body .contain table .ok-btn {
    background-image: url("../../images/ok_button_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    width: 100px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    color: #FFF;
    display: inline-block;
}
.create-alerts-container .alerts-body .contain table input[type=text] {
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width:160px;
    height:20px;
    font-size: 15px;
    padding: 5px;
    color: #A0A0A0;
}
.create-alerts-container .alerts-body .contain table select {
    border: 2px solid #F3F3ED;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    height:34px;
    font-size: 13px;
    padding: 5px;
    color: #A0A0A0;
    width: 175px;
}
.create-alerts-container .alerts-body .contain table {
    color: #A0A0A0;
}
.create-alerts-container .alerts-body .contain table label {
    text-align: right;
    display: inline-block;
    width: 155px;
}
.create-alerts-container .alerts-body .contain table .td-label {
    width: 155px;
}
.create-alerts-container .alerts-body .contain table .td-input {
    width: 160px;
}
