<div class="info">
    <div class="float-left padding10">Company</div>
    <div class="float-left padding10"><input type="text" ng-model="groups.instance.company" name="company"/></div>
    <div class="float-left padding10">Name <span class="red">*</span></div>
    <div class="float-left padding10"><input type="text" ng-model="groups.instance.name" name="name"/></div>
    <div class="float-left padding10">Contact Name</div>
    <div class="float-left"><input type="text" ng-model="groups.instance.contactName" name="contactName"/></div>
    <div ng-hide="true"><input type="hidden"  ng-model="groups.instance.id"></div>
</div>