
    <link rel="stylesheet" type="text/css" href="assets/styles/application.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/groups/add.css">

<div class="add-group-container">
    <div class="add-group-header">
        <div class="close button" ng-click="editGroupsFadeOut()"></div>
        <div class="title">Edit Group</div>
    </div>
    <div class="add-group-body">
        <div class="contain-menu">
            <div class="float-left">
                <span class="i-non-admin-btn button" ng-click="backIndexGroupsFadeIn()">
                    Back to Groups
                </span>
            </div>
            <div class="add_group_rt_search float-right">
                <input type="text" placeholder="Search" class="float-right">
                <img src="assets/images/groups/search_icon.png" class="float-right" />
            </div>
        </div>
        <div class="clear"></div>
        <div class="contain-report">
            <div ng-include="'views/groups/_form.html'"></div>
            <div class="clear"></div>
            <div class="action ">
                <span class="save-button float-right button" ng-click="updatedGroup()">Save</span>
                <span class="cancel-button float-right button" ng-click="backIndexGroupsFadeIn()">Cancel</span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
