
    <link rel="stylesheet" type="text/css" href="assets/styles/application.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/groups/test.css">

<div class="test-group-container">
    <div class="test-group-header">
        <div class="close button" ng-click="testGroupsFadeOut()"></div>
        <div class="title">Johanis Test</div>
    </div>
    <div class="test-group-body">
        <div class="contain-menu">
            <div class="float-left">
                <span class="i-non-admin-btn button" ng-click="backIndexGroupsFadeIn()">
                    Back to Groups
                </span>
            </div>
            <div class="float-left">
                <span class="i-add-btn button" ng-click="addGroupsFadeIn()">
                    Add New Group
                </span>
            </div>
            <div class="test_group_rt_search float-right">
                <input type="text" placeholder="Search" class="float-right">
                <img src="assets/images/groups/search_icon.png" class="float-right" />
            </div>
        </div>
        <div class="contain-report">
            <table >
                <thead>
                <tr>
                    <th class="button" ng-click="sortClick('groupsTest.name')">Name<span ng-bind-html="sort.type" ng-if="sort.field == 'groupsTest.name'"></span></th>
                    <th class="button" ng-click="sortClick('groupsTest.id')">ID<span ng-bind-html="sort.type" ng-if="sort.field == 'groupsTest.id'"></span></th>
                    <th class="button" ng-click="sortClick('groupsTest.state')">State<span ng-bind-html="sort.type" ng-if="sort.field == 'groupsTest.state'"></span></th>
                    <th >Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="instance in groups.testListInstance">
                    <td><img ng-src="assets/images/{{instance.image}}"> {{instance.name}}</td>
                    <td>{{instance.id}}</td>
                    <td>{{instance.state}}</td>
                    <td>
                        <span class="i-edit button" ng-click="editDevicesFadeIn(instance.id)" ></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="devices-footer">
                <span class="i-last-page button" ng-if="page.current < page.total" ng-click="pageClick(page.total)">&#187;</span>
                <span class="i-next-page button"  ng-if="page.current < page.total" ng-click="pageClick(page.current+1)">&rsaquo;</span>
                <span class="i-number-page button" ng-repeat="n in range(page.current + page.max, page.current+1)" ng-click="pageClick(n)">{{n}}</span>
                <span class="i-current-page button">{{page.current}}</span>
                <span class="i-number-page button" ng-repeat="n in range(page.current-1, page.current - page.max)" ng-click="pageClick(n)">{{n}}</span>
                <span class="i-preview-page button" ng-if="page.current > 1" ng-click="pageClick(page.current-1)">&lsaquo;</span>
                <span class="i-first-page button"  ng-if="page.current > 1" ng-click="pageClick(1)">&#171;</span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>